[2020-10-22 09:25] Dyschromat opened #2 "version problem :/"
I downloaded the newest bow update 1.16.2 - but on boot it says 1.16.3 is required.

awesome mod (=

[2020-10-22 09:49] Cluelesshobo opened #3 "Backslot Compat Issue"
When MCD weapons are holstered using [BackSlot](https://www.curseforge.com/minecraft/mc-mods/backslot) the weapons appear massive on the character and off-center. Other modded tools and weapons do not have this issue.

[2020-10-22 12:07] chronosacaria commented on #2
Thank you for catching that! I must have slipped by me. It should all be working now. :)

[2020-10-22 12:07] #2 closed

[2020-10-22 12:24] chronosacaria commented on #3
Oh dear, you're not kidding! I'm looking into this. I wonder what information it is looking for that makes them look so big? I think I know why some of them of off centre, though, so I can fix that pretty easily.

[2020-10-24 23:59] chronosacaria commented on #3
I've reached out to Globox_Z and we're working on getting this solved

[2020-11-10 21:31] chronosacaria commented on #3
Globox_Z and I were able to resolve all of the render issues! :D

[2020-11-10 21:31] #3 closed

[2020-11-29 22:17] superon opened #4 "mcdw-1.9.1-1.16.4 stunning crash"
don't know if i should be posting this as it marked as beta and i think you maybe know about this already..
today i've been going through the enchants to get a feel for what they do, half i can work out, half i can't and the other one simply crashes the server:
https://pastebin.com/R7GiWWhb

[2020-11-30 01:51] chronosacaria commented on #4
Thank you so much for taking a whack at the Beta. You absolutely can post issues that you find in the Beta here. I appreciate you mentioning this issue and posting the crash. This issue should be fixed in the release, but I won't mark it as closed until I am sure.

I'm also considering adding lore to the books which should help make sense of them.

[2020-11-30 15:50] chronosacaria commented on #4
@superon Would you mind trying the latest release to see if the crash you were experiencing is gone? You'll have to download it from GitHub since CurseForge is in read only mode for the time being.

[Latest Release: 2.0.0-1.16.4](https://github.com/chronosacaria/MCDungeonsWeapons/releases/tag/2.0.0-1.16.4)

[2020-11-30 16:09] superon commented on #4
maybe something specific to my server?  works fine in single player but i guess you know that already..
https://pastebin.com/KvWAfzP6 :/

[2020-11-30 17:30] chronosacaria commented on #4
That is so strange. Let me try to run it on my server. I'll let you know what happens.

[2020-11-30 17:36] chronosacaria commented on #4
Nope, it isn't just you. Were there any other enchants that caused a crash like this?

[2020-11-30 17:40] superon commented on #4
initially just this one, i've not retested the others though i imagine they're untouched and still fine

[2020-11-30 17:44] superon commented on #4
i didn't test them super hard to be fair, maybe others have this problem given certain conditions..  i imagine the freezing one would be similar but freezing and stunning would be applicable to bow and swords but not both.    on that note i had seen the enchants applicable to bow could be placed on swords and enchants for swords could be placed on bows.

[2020-11-30 18:00] chronosacaria commented on #4
I found the problem and it was a big oof on my part. I'm fixing it now.

I'll take a look at the exclusivity. I thought I took care of that, but maybe I missed something or forgot.

Thank you, so much, for all of this. It really helps a lot.

[2020-11-30 18:12] superon commented on #4
\o/
the exclusivity issue was on the previous beta so may well have been resolved 👍
on that subject i wonder how plausible it would be to introduce a config where server owners can choose to have the enchants apply only to particular weapons (jungles poison only on the green menace for example)? only just seen this enchant added with a few others

[2020-11-30 18:18] chronosacaria commented on #4
That's possible, I think? lol
I am still learning configs, so there are some settings about combinations and whatnot. I can look into it for a later release though! :D

[2020-11-30 18:46] chronosacaria commented on #4
Okay, should be fixed. The exclusivity thing, though; I have a feeling that is going to take some time. There don't appear to be any crashes from it, but it does strike me as kind of funny that you could enchant a bow with a melee enchantment, run up and bean something and the enchant take effect :P

Since I tested it and the crash is gone, I am going to close this issue.

Thanks again! :D

[2020-11-30 18:46] #4 closed

[2020-11-30 18:46] chronosacaria opened #6 "Melee Enchantments can Apply to Bows and Bow Enchantments can Apply to Melee Weapons"
Well, the title says it all, really.

[2020-12-02 23:12] Greg-J opened #7 "Errors on startup"
Latest version of mod and fabric API on 1.16.4
[code]

[2020-12-03 14:18] chronosacaria commented on #7
All fixed! :D Pushing new update to Curseforge now

[2020-12-03 14:18] #7 closed

[2020-12-06 16:17] superon opened #8 "almost, but not quite, entirely sure this is going in the right place... maybe a mixin problem"
been getting a lot of crashes today on the server after updating to latest mcdw
looking into it (asking other people as i can't see what's going on with this sort of thing) it was first suggested "You have a mod with a broken mixin"
another person says "Seems to be a mod that changes something with enchantments" because "method_8180 is Enchantment#canAccept".

only mcdw and curses handle enchants

[2020-12-06 16:53] chronosacaria commented on #8
I'm not really sure. None of mixins use that method, though. I'm sorry, but, to be sure, you'd have to either remove my mod to see if the issue persists or turn everything else off.

An easy way to do it is to make an instance (either with Curseforge, MultiMC, etc.) and test with only my mod.

Could you explain what you were doing when it happened? Did you have one of my weapons? Did the item have

[2020-12-06 17:05] superon commented on #8
ahhh ok np, i can load up another instance or first try disabling curses, curses being the other mod to handle enchants..
i was doing alsorts, nothing specific... mostly crafting items but also just exploring :/  was really testing for this at the time though so i can direct efforts more towards this issue another time.

i did have a red bow, i forget the name right now but will get back on that.

[2020-12-06 17:11] superon commented on #8
red snake

[2020-12-06 18:02] chronosacaria commented on #8
lol, no worries. Just let me know if you whatever you find 🙂

[2020-12-06 18:02] chronosacaria commented on #8
It is worth noting that no bows should have any innate enchantments

[2020-12-06 19:39] superon commented on #8
:) i have removed all of the crafting recipes from mcdw and instead have them attainable as dungeon loot items if that makes a difference

[2020-12-06 20:39] superon commented on #8
also just seeing it could actually even be this thing https://www.curseforge.com/minecraft/mc-mods/infinity-water-bucket

[2020-12-07 02:56] chronosacaria commented on #8
It very well could be the Infinity Water Bucket after looking at the mixin. Having the Mcdw weapons only attainable via loot should have no impact on anything related to mixin issues, though

[2020-12-07 12:25] chronosacaria commented on #8
Changed tag and closed issue as it was determined to have been caused by Infinity Water Bucket and has been resolved according to alkyaly (https://github.com/alkyaly/Infinity-Water-Bucket/issues/2#issuecomment-739852112).

[2020-12-07 12:25] #8 closed

[2020-12-09 22:16] superon opened #9 "ticking entity after having hit it too good"
i think :/
mcdw-2.0.5
https://pastebin.com/93kA6ee2
crashes the server and insta crashed again after launching

[2020-12-10 10:41] chronosacaria commented on #9
Hi again, superon. You really can't catch a break can you. Yes, this one looks like it is on me. Did the Piglin get a hold of a sword with critical hit on it? It says that the piglin couldn't get cast into the player, and the enchantment is expecting the player to be using it not the piglin. I can work on getting this fixed. I'm going to try to reproduce it so I can see exactly what is going on.

[2020-12-10 11:24] chronosacaria commented on #9
I just released something that should fix it. It should be approved by Curseforge soon.

[2020-12-10 12:00] superon commented on #9
piglin ay?   i was in the nether but was battling blazes at the time :)   i just assumed it was the player ticking (even though the report didn't say player) because i installed not enough crashes to see and that resulted in exploding me, turning the surrounding area into a firescape that burnt most of my items.   lawks
thanks again, we'll get this good

[2020-12-10 12:00] #9 closed

[2020-12-14 20:04] superon opened #11 "think i found another one, or someone did"
v 2.1.1
https://pastebin.com/9nukpmw1
looks like onAnimaConduitKill this time, can't say if i was doing anything in particular but there was someone else on the server at the time this time and they said they'd just killed a sheep.
\o/

[2020-12-14 20:06] chronosacaria commented on #11
I genuinely cannot express enough how grateful I am that you keep finding these things and bringing them to my attention. It is a massive help and I mean that sincerely! :)

[2020-12-14 20:08] chronosacaria commented on #11
Huh? It is another piglin problem. Was anyone even in the Nether when this happened?

[2020-12-14 20:08] superon commented on #11
i was in the nether

[2020-12-14 20:09] chronosacaria commented on #11
Okay. I'm going to have to piglin-proof everything it seems. But this is good to know

[2020-12-14 20:09] superon commented on #11
i had not long been killed and killed a pigman that had stolen my armour, didn't have an mcdw on it though

[2020-12-14 20:11] superon commented on #11
odd yea, i was carrying a bow, i think the only mcdw i owned at the time... do you think it might make a difference that i'm having the weapons instantiated with a loot_table instead of having them crafted? rhetorical

[2020-12-14 20:11] chronosacaria commented on #11
That is even stranger then because onAnimaConduitKill should only trigger if an item has the enchantment. It is actually the only enchantment other than Ricochet, right now, that does not have an innate presence

[2020-12-14 20:12] chronosacaria commented on #11
I mean, anything is possible, especially since the enchantments can be added to loot items; but I don't know for sure

[2020-12-14 20:15] chronosacaria commented on #11
Ahh, I found the problem, I think:

healthRegained = (float) (getCurrentExperience((PlayerEntity) user) * (0.2 * level));

The game tried to heal the Piglin and it crashed

[2020-12-14 20:18] superon commented on #11
o right, well anima_conduit is one of 3 enchants that i had no clue what they do.. so i guess it heals pigmen, or mobs at least :)

[2020-12-14 20:29] chronosacaria commented on #11
It heals you based on the amount of experience you gain

I cannot get a piglin to pickup anything except gold things. Do you have another mod that changed them?

[2020-12-14 20:31] superon commented on #11
hmm, i think some just don't pick up items, like the zombie mechanic, checking now about other possible mods...
right now nothing springs to mind

[2020-12-14 20:34] chronosacaria commented on #11
Which version are you using, btw?

[2020-12-14 20:34] superon commented on #11
2.1.1

[2020-12-14 20:36] chronosacaria commented on #11
Okay. Just wanted to make sure. I have a version 2.2.0 that should hopefully fix that. I'll let you know once it is on Curseforge. There are a bunch of other goodies that I was about to release as well like lore on the items

[2020-12-14 20:36] chronosacaria commented on #11
And a way to adjust attack strength based on a config file :)

[2020-12-14 20:44] superon commented on #11
right so, i don't know what could be anything to do with this but here are possible potentials..
adventurez-1.1.5 adds its own piglin type mob, piglin beast and adjusts the piglin loot_table to add items into their "trades".
extraorigins-1.16.4-4 adds player buffs that mimic pigman type for the player in various ways.
netherroof-1.0.0 not piglin related maybe but it does change the way things spaw

[2020-12-14 20:59] chronosacaria commented on #11
It could be related to one of those. We'll see what happens, though. I won't close the issue until there have been several days without another issue. The new version is live now, btw: https://www.curseforge.com/minecraft/mc-mods/mcdw/files/3138826

[2020-12-14 21:32] superon commented on #11
wonderful, will be testing tomorrow :)

[2020-12-17 04:36] superon commented on #11
all seems superfine and splendid now after having tested for a few hours.... also, after more recently removing a mod that was behaving badly i discovered this https://www.curseforge.com/minecraft/mc-mods/piglib which i think more likely to be the initial culprit

[2020-12-17 15:59] chronosacaria commented on #11
Nice! I'm going to close this out then :)

[2020-12-17 15:59] #11 closed

[2020-12-19 19:16] chronosacaria opened #12 "Innate Freezing Enchantment is not Triggering"

[2020-12-22 19:02] #12 closed

[2020-12-23 16:03] AzureMonument opened #13 "The spear has the capability to strip logs?"
So I just accidentally right-clicked a Cika log, added by the Biomes You'll Go mod with my spear and ended up stripping it. Confused I tried the log next to it as a test and I stripped it again. I then pulled out a vanilla oak log and also stripped it with the spear.

I... don't think this is intended?

[2020-12-23 19:22] chronosacaria commented on #13
lol, it is not intended, but it is currently built from an axe so that it has shield breaking potential. I am working on a way to have the shield breaking without the axe preset. Thanks for making an issue report, because this is, indeed, a bug

[2020-12-25 01:29] AzureMonument opened #14 "Can you make it so that all the enchantments can apply to all of the weapons?"
I'm assuming this is due to the same reason as stated in the reply to my previous bug report (stripping logs) and that it's simply due to the spear being an axe derivative- but the spear (fortune spear this time) is unable to get enchantments such as radiance, shockwave, sweeping edge (which kinda makes sense), poison cloud, and I'm assuming others (this is even with the config 'allow OP enchants'

[2020-12-25 18:44] chronosacaria commented on #14
You are correct that because the spears are based on axes that they cannot have a lot of enchants. This is by design as some of them have really powerful innate enchants.

The other kind of mixing of enchants with the fortune spear, however, that is a problem and should not be happening. I'll take a look at that today.

The green enchant doesn't update, unfortunately. Not yet, anyway. It is what t

[2020-12-25 18:55] chronosacaria commented on #14
So, after poking around, it looks like the limitations that you mentioned are limitations of the spears being an AxeItem. I didn't realise how restrictive Axes were with respect to enchantments. I am working on creating a custom item type for the spears. Hopefully that will resolve the issue.

[2020-12-27 19:24] InsaanNotFound opened #15 "Crash - TickingEntity"
**Issue**
[code]

**How to reproduce**
It can't be done manually, it happens randomly in the Nether, any try to reload the world causes in game crashing again.

[2020-12-27 20:47] chronosacaria commented on #15
I'm sorry about this. Just wondering, did you have anything enchanted with Chains? Like a bow or something?

[2020-12-27 21:55] #15 closed

[2020-12-27 23:10] superon opened #16 "possibly further piglin woes"
re: https://pastebin.com/1MedqZiS
i died in the nether and this crash occurred shortly after i collected the items i'd dropped on death.
possibly a coincidence, but also noted some trinket related items vanished...
reviewing video to see if i can supply any more or more precise info about this: https://www.twitch.tv/videos/851529445 at about 44 minutes in.

any other info that will help let me kno

[2020-12-27 23:12] superon commented on #16
also i could whitelist you on this server of course if that helps, we won't know until it does i suppose :/

[2020-12-28 03:36] chronosacaria commented on #16
So sorry that happened! And that it happened on stream. Something had something it shouldn't have. Your crash reports are one of the reasons that Mcdw is as stable as it is, so please keep sending them. I'll work on this tomorrow, though

[2020-12-28 03:39] superon commented on #16
np, i realise the crashing will happen, this is why i'm testing and chat should know this, caught a few different issues today :)

[2020-12-28 03:40] superon commented on #16
also i am noting there was an update after the version i used there, maybe coincidentally fixed?  more mashing later

[2020-12-28 13:12] chronosacaria commented on #16
I think I fixed it with this update. The latest update that was released was to fix an issue with Chains :P

[2020-12-30 20:46] chronosacaria commented on #16
Since the issue appears to be fixed, I am going to close this issue.

[2020-12-30 20:46] #16 closed

[2020-12-30 20:49] chronosacaria commented on #14
This appears to be a limitation based upon Minecraft's code. At this point, the enchants are not able to be applied to axes and AxeItems in the same way that they can be applied to sword and SwordItems. For now, this issue will be converted to a feature request as this is less of an issue with the mod and more of a limit with the base game.

[2021-01-09 19:15] obernulpe opened #18 "ClassCastException / Ticking entity crash"
I was trying out the mining dimension of Gobber (duplicates Overworld) and found a Pillager Outpost with a dozen of Pillager around. After a minute of fighting the game crashed. Trying to rejoin the world results in the same crash.

This seems to be the same crash as #15 but in a different method.
After adding the fix for #15 to every method that injects into applyDamage() and didn't already check

[2021-01-09 20:32] chronosacaria commented on #18
I'm so sorry that happened. I've been chasing these ClassCastExceptions around like crazy. Could you give the latest version of Mcdw a go? It _should_ fix this issue. (https://www.curseforge.com/minecraft/mc-mods/mcdw/files/3163525)

[2021-01-09 23:10] obernulpe commented on #18
The latest version also crashes.
I debugged the world with the source code imported in IDEA. The exception is thrown at:
[code]
So for whatever reason source.getAttacker() returns an ArrowEntity which cannot be casted into LivingEntity. I added the check before that line which fixes it for applyCommittedEnchantmentDamage():
[code]
But after adding that line the game still crashes, this time at app

[2021-01-09 23:46] chronosacaria commented on #18
Thank you so much for digging into the code on this one. I'll be able to apply the fixes tomorrow. I am, unfortunately, fighting some illness the last few days but should be up and running tomorrow :)

[2021-01-10 00:35] obernulpe commented on #18
You're welcome :) wish you a speedy recovery!

[2021-01-10 01:45] #18 closed

[2021-01-11 04:25] superon opened #19 "upgrading default enchant"
just wondering if stormlander "thundering I" should be able to be upgraded to "thundering II" via anvil and thundering I book for example.   seems to add and entirely different "thundering I" to the weapons enchants list instead..
not sure this isn't intended but seems odd https://imgur.com/9Dpwbpy

[2021-01-11 14:50] chronosacaria commented on #19
I am working on fixing this. Once I have it working I'm going to be releasing an update. I just worked with someone to help me rewrite a lot of Mcdw and I just finished all of the enchantment stuff except for the combining. I am going to be working on that today, though :)

[2021-01-12 17:01] chronosacaria commented on #19
This is now fixed in the latest version! :D

[2021-01-12 17:01] #19 closed

[2021-01-15 20:19] superon opened #20 "special arrows with bows and crossbows now don't work"
just that, in the new version mcdw-2.4.8 the draw back animation works but the arrows don't fire :(

[2021-01-15 20:42] chronosacaria commented on #20
but it worked in the previous versions, right?

[2021-01-15 20:53] chronosacaria commented on #20
Yeah, I cannot reproduce this. Do you have any other mod installed that might be affecting bows and crossbows?

[2021-01-15 20:54] superon commented on #20
ahh, i'll do some testing

[2021-01-15 23:13] superon commented on #20
thought i'd found it was a conflict after a while but now the problem seems to have simply vanished :/

[2021-01-15 23:13] #20 closed

[2021-01-15 23:40] superon commented on #20
happens in one very specific version of my modpack, as yet i've still no clue but thought i'd post here incase it makes sense https://pastebin.com/qRa7gzEY

[2021-01-16 01:59] chronosacaria commented on #20
What was the mod that set it off? I know what the error means

[2021-01-16 03:18] superon commented on #20
idk, pulled apart and stuck the modpack back together again several times and still no clue where it came from

[2021-01-16 20:45] superon opened #21 "adding enchant - enhancement/suggestion"
<3 the new ability to add enchants via config, that right there brought new life to some old items.

wondering if this could be extended so it can be applied to item in hand?

hoping for this for a quite specific example:
my modpack has a book given to the player which explains a few oddities about gameplay and general mechanics within, this is a minecraft:written_book
as things are i can add an e

[2021-01-16 21:00] chronosacaria commented on #21
This is beyond the scope of MCDW. You could soulbound the book, but any written book would be affected.

However, it sounds like you might want to consider making a patchouli book for your pack.

https://www.curseforge.com/minecraft/mc-mods/patchouli-fabric

[2021-01-16 21:00] #21 closed

[2021-01-16 21:04] superon commented on #21
i tried and failed at that, np though i'm quite happy to make all written books souldbound 👍

[2021-01-17 00:03] obernulpe opened #22 "Possible problems with two enchantments"
I think I found two problems with the Committed Enchantment and the Critical Hit Enchantment (unless I messed something up while testing the enchantments):

Critical Hit Enchantment:

So while testing this enchantment I noticed that some attacks would deal much more damage than I expected.
The chat log below shows the health of my target before each hit. I attacked with a Critical III diamond swor

[2021-01-18 12:39] tealtoxic opened #23 "Mood Dagger + Eldritch Mobs mod = EXP bomb"
im no expert detective but hear me out,

testing out a friend;s modpack and everytime eldritch miniboss get killed by the moon dagger, it will drops tons of exp and eventually crashed the server.

i think theres something wrong with "Enigma Resonator – Deals damage relative to the amount of XP that the user has ".

instead of the more exp = the more damage dealt, it became exp bomb.

can you pleas

[2021-01-18 21:01] chronosacaria commented on #23
Could you send me the crash report? I think I know what is wrong, but the report would help a lot

[2021-01-19 06:33] tealtoxic commented on #23
i will ask my friend for it and send it to you.

[2021-01-20 14:42] BrekiTomasson opened #24 "Minor recipe issue"
Nothing major, just wanted to highlight a small problem with one of your recipes. I'm using v2.5.0. Getting this on boot:

[code]

Looks like you're defining `minecraft:stick` as an ingredient in the recipe in `/src/main/resources/data/mcdw/recipes/pick_howling_pick.json` but not using it in the actual grid recipe.

[2021-01-20 14:45] littlecattle opened #25 "Fireball Kill caused a crash"
when fireball fired by the dispenser kills an entity, it will cause a crash.
But fireball by the Ghast won't. I guess they may have different entity id.
It seems like a problem of enchantment.
[code]

[2021-01-20 14:45] BrekiTomasson commented on #22
Just wanted to add a quick comment here. I'm completely unaffiliated with **MC Dungeon Weapons**, so I can't help you out with this trouble ticket - but as a Minecraft Mod developer myself, I just want to say how much I appreciate seeing the time and effort you've obviously put into creating this issue. If every issue could look more like this and less like "durr it don't work good", I'm convinced

[2021-01-20 15:12] chronosacaria commented on #22
I could not agree with BrekiTomasson more. This gives me exactly what I need to actually fix the issue. Sorry for taking so long to respond, obernulpe.

[2021-01-20 17:19] #25 closed

[2021-01-20 17:20] chronosacaria commented on #24
Whoops, thanks for catching that! :)

[2021-01-20 17:21] #24 closed

[2021-01-20 18:09] chronosacaria commented on #14
This is now possible using the Enchant Giver Config. Any enchantment can be placed on to any weapon

[2021-01-20 18:09] #14 closed

[2021-01-27 19:22] #22 closed

[2021-01-27 19:22] #23 closed

[2021-02-02 00:15] BrekiTomasson opened #27 "Prospector enchantment bugged"
The code for the Prospector enchantment has a faulty statement in it, you're checking `if (McdwEnchantsConfig.getValue("mixin_exploding"))`

[2021-02-02 04:53] BrekiTomasson opened #28 "Bows break compatibility with Infinity Mixin"
I've got a method in one of my mods that looks like this:

[code]

Essentially, this means that if a bow has the Infinity enchantment applied, the bow will be able to fire without the need for an arrow in your inventory. However, due to the way you have implemented Bows in MC Dungeons Weapons, this does not work with those weapons.

Any chance you could look into the code for your bows to see if t

[2021-02-02 20:12] chronosacaria commented on #27
And that is what I get for rushing. Thanks for catching that. I can fix that easily

[2021-02-02 20:18] chronosacaria commented on #28
I can take a look and see if I cannot get the two to be compatible

[2021-02-02 20:51] BrekiTomasson commented on #27
It's an easy mistake to make, I've had similar issues plenty of times before when copy/pasting code. :)

[2021-02-03 01:39] #27 closed

[2021-02-17 07:21] JayCeeCreates opened #29 "Bows and crossbows..."
They turn into their large sprites whenever I prepare them. I hope it's not intentional or just a placeholder because it ruins the immersion...

[2021-02-17 14:45] chronosacaria commented on #29
I'm going to need you to be more specific because this is not enough information to go off of

[2021-02-17 16:03] JayCeeCreates commented on #29
I hope this GIF helps. Notice the hotbar.
![qVD9TZDWbk](https://user-images.githubusercontent.com/28774264/108230907-31c7e780-717c-11eb-92ab-3e3b6af43064.gif)

So I just looked into the issue again and it seems like it was due to **incompatibility between this mod and XisumaVoid's Item Stitching Fix from VanillaTweaks**. You may close this issue if no further fix is needed-

[2021-02-17 16:05] chronosacaria commented on #29
I didn't know that the Stitching Fix would cause that; but that is good to know :)

[2021-02-17 16:05] #29 closed

[2021-02-18 19:04] Siuolthepic opened #30 "Feature Request: Add weapons to certain tags for better compatability with mods."
What I am proposing:
Im am proposing that weapons be added to tags (such as fabric:swords for swords.). so that way mods such as Tiered would be able to find these weapons as valid. Most likely there would have to be custom tags for the unique MCDungeonsWeapons.

How its currently done:
Currently, due to lack of tags, mods such as tiered or other mods that use the tags to find certain items are un

[2021-02-21 20:05] gravitysurfer05 opened #31 "echo and shockwave"
both of the enchantments in the title if procced on a player by attacking a mob beside a player will instantly kill them and wipe their inventory

[2021-02-22 14:13] chronosacaria commented on #31
I need more information that this. This is the first time that I am hearing about an issue like this from anyone. For example: do you have any other mods installed? Are you on a server or on the client? How did it happen and can it be reproduced? I need more to go on before I can consider this a bug on my end.

[2021-02-22 19:38] gravitysurfer05 commented on #31
i have quite a few other mods installed, we are on a server, it can be reproduced it happened when someone killed a skeleton from a spawner while another player was in range of the shockwave effect, though we were able to recreate it with naturally spawning mobs

[2021-02-23 17:17] chronosacaria commented on #31
Can you reproduce it with just my mod? I've not been able to reproduce this issue

[2021-03-04 12:16] Sunconure11 opened #32 "Cross compat issue with bullet entities from Happiness is a Warm Gun"
https://pastebin.com/w0eg3hqn

[2021-03-04 15:03] chronosacaria commented on #32
Whoops. Looks like I missed a config value. Thanks for catching this

[2021-03-05 17:30] chronosacaria commented on #32
Should be fixed in 3.0.1

[2021-03-05 17:30] #32 closed

[2021-03-09 16:18] chronosacaria commented on #31
I've been unable to reproduce this issue nor has more information been provided. This issue will be closed for now.

[2021-03-10 15:48] Fourmisain opened #33 "Prospector enchantment is overpowered"
The Prospector enchantment adds a chance for Emerald drops from any hostile mob.
Each level increases the chance by 25%, up to 75%, and it drops `level` Emeralds.
Note that this means that Prospector III is _9 times_ as effective as Prospector I!

Prospector III drops on average 2.25 Emeralds per mob, which is by far too much.
For example, doing a raid in hard mode can spawn up to 83 mobs, which w

[2021-03-10 16:16] chronosacaria commented on #33
Oh wow, I didn't realise that it was that overpowered. I hadn't considered the fact that emeralds already drop from things. I have some fun ideas for 1.17, but I agree that it should be nerfed, for now, if nothing else. Thanks for doing all of that testing and for such a detailed issue report (as usual :)). I'll be looking into this today. Thanks, again!

[2021-03-10 16:43] #33 closed

[2021-03-15 18:05] boblet101o opened #34 "Help"
I am having trouble using the staff of terror how to I use the explosions and is there a way to see a list of all the enchantments and what they do? Thanks

[2021-03-15 19:22] chronosacaria commented on #34
There is actually a discord for help which would be easier for you (probably) than using GitHub Issues. The Explosions have a chance to trigger. There is a wiki, it is in the same place you looked for the Issues tab and it is simply called "Wiki". If you'd like to check out the discord, you can find it here: [https://discord.gg/fjJ26wTbS3](https://discord.gg/fjJ26wTbS3)

[2021-03-15 19:22] #34 closed

[2021-03-17 22:51] jbjornberg opened #35 "Feature Request: Disable MC Dungeons Weapons from spawning in Treasure Loot Tables via Config"
Hello, I was hoping you could add a feature (hopefully to Story Mode & Armor as well) to prevent these from spawning in any kind of loot table- so I can make them 100% only attainable from Quests. It'd be a big help, thanks!

[2021-03-17 22:58] chronosacaria commented on #35
I like this idea. I'll need to learn how to do it, but I cannot imagine that it would be too hard. Are you making a modpack and if so, are you using KubeJS? If you are, it may be easier to accomplish what you are looking to do using that

[2021-03-17 23:01] jbjornberg commented on #35
I am using KubeJS actually! Unfortunately, the Fabric version (maybe the Forge version as well, but I'm not sure..) doesn't have compatibility quite yet with modifying dungeon/chest loot tables. That's the second place I went after checking the config files here haha.

Not sure how the logic works, or if you're allowed to look at code from other mods in the first place haha- but I'm pretty sure Ev

[2021-03-17 23:13] chronosacaria commented on #35
Oh okay. I'll have to take a look at that. Thanks for the potential direction :)

[2021-03-18 13:52] chronosacaria commented on #35
I forgot to ask, but did you mean you'd like to see everything (not just weapons and armours) not be in loot tables? So, for example, the bee can drop a stinger. Ulster you like to see a config option to control that as well?

[2021-03-19 22:54] jbjornberg commented on #35
Sorry for the late response, that would be interesting to control as well- but I'm mainly just looking to make the weapons and armors unattainable. I would actually probably still like the items to drop in my personal case, as I might make some of them required for a step in a quest or something along those lines.

I think having control over that would be cool too though!

[2021-03-27 00:11] BrekiTomasson commented on #30
Any progress on this? It feels like something that should be fairly quick work; all you need to do is add the appropriate files under `resources/fabric/tags/items` and populate them with your items.

[2021-03-27 16:01] chronosacaria commented on #30
I have not had a chance as I have been wanting to make some changes to some of the weapons, dealing with health issues, and need to learn how tags work. This is something that is on my agenda to do though. If you can point me to an example, that would be incredibly helpful as I haven't got the first idea of how to do this aspect of what you're describing

[2021-03-28 00:55] JSJBDEV opened #36 "shockwave encahntment on whirlwind causes players to not drop loot on death"
using whirlwind around a friend on a server, the friend died of the explosion and it didnt report it in chat, it also didnt spawn a VanillaDeathChest - I have a feeling its the weapons problem but I an open an issue on vanilladeathchest if you think otherwise

[2021-03-28 02:19] chronosacaria commented on #36
Honestly sounds like it could be their issue. It might be that VDC doesn't expect deaths from explosions? Not sure, but I'll look into it 🙂

[2021-03-28 20:14] RhinoInquiring opened #37 "Negative Proc based enchants effecting other players even with PVP turned off. v3.0.5"
Noticed that Echo, Chains, and other similar enchants still effect other players when PVP is turned off. I have murdered my friends multiple times without even noticing it. Hella funny but still not the greatest.

To reproduce pick any of the following enchants and have a player stand within the affect range.
Chains
Echo
Ricochet
Shockwave
Swirling

[2021-04-03 23:54] Siuolthepic commented on #30
Sorry for the late reply, but a good example of what Im talking about is in my Kyanite mod. https://github.com/Siuolthepic/Kyanite/tree/main/src/main/resources/data/fabric/tags/items
That link should contain tags for each tool and armor type. If you want to see how they would be used on the recieving end, I recommend checking Tiered as it uses these tags for their modifiers.

[2021-04-03 23:57] chronosacaria commented on #30
Thank you, so much, for pointing me to an example. And no worries about the late reply. I've been so busy with life stuff I'd not have been able to actually do anything with it anyway. I'll take a look at this and see if I can get this implemented. Thanks, again! :)

[2021-04-04 00:02] Siuolthepic commented on #30
I wish you luck, if you need help at all, feel free to DM me on discord at | "Siuol" Appeared#5729 |

[2021-04-05 23:56] #30 closed

[2021-04-09 21:03] chronosacaria commented on #37
When PvP is turned off, there is a setting in the enchants_config that needs to be set to "true" called "aoe_dont_affect_players". This should prevent the issue you're experiencing. I'll leave the issue open for a few days in case, for some reason, you find that it doesn't work.

[2021-04-10 00:07] #36 closed

[2021-04-10 16:26] chronosacaria commented on #28
It took be a while to figure it out, but I finally think that I got the bows working with this mixin :D

[2021-04-10 16:38] #28 closed

[2021-04-17 02:05] JustXoi commented on #31
I've just had this issue. I killed a zombie next to my friend and it killed him and wiped his inventory.
I was using Whispering Spear.
He died to the aoe effect that killed the zombie.
There was also no death message saying I killed him.

Me: JustXoi
Friend: DreadGnomes
[Twitch VOD for recreation (Timestamp: 00:45:35)](https://www.twitch.tv/videos/990278729?t=00h45m35s)
We are running a fabric ser

[2021-04-17 09:11] chronosacaria commented on #31
Which version are you guys using? This issue should be fixed as of version 3.0.8, though I would suggest grabbing the latest version

[2021-04-17 20:27] JustXoi commented on #31
We're using 3.0.5. We didn't realize there was a patch. Sorry for any confusion.

[2021-04-17 20:34] chronosacaria commented on #31
No worries! I'm gonna close the issue since it is technically a resolved problem. :)
If you want, I suggest joining my Discord so you can get updates on my mods and when I release updates. Here is a link if you want to join: [https://discord.gg/WmpNkeV7](https://discord.gg/WmpNkeV7)

[2021-04-17 20:34] #31 closed

[2021-04-18 19:48] #37 closed

[2021-04-19 04:16] A1Enigma opened #39 "Echo Enchant affecting Boats/Minecarts/Armor Stands and other Nonliving Entities"
Either when targeting a boat/minecart/nonliving entity or a living entity nearby, harming either one will affect the other. For example, if I kill a cow near a boat, the boat will be broken. Same goes for the other way around, if I destroy a boat and there is a cow nearby, the cow will take damage.

[2021-04-19 04:18] A1Enigma opened #40 "Royal Shield is Undefeatable"
The Royal Shield is meant to be a cosmetically better looking shield than the vanilla Minecraft shield and nothing more, however that is not the case. The Royal Shield cannot be disabled by an axe nor anything else that would normally disable it, meaning you can hold up the shield until the durability runs out.

[2021-04-24 10:32] teefssi opened #42 "Registry Remapping Failed: Received ID Map for minecraft:sound_event cotains IDs unknown to the receiver! mcdw:echo_sound"
I added a few mods to this server including this one, and recently encountered a problem (which is the title)
how do i fix this? Do I need to install another version? Both the server and our clients have 3.1.1.

[2021-04-24 10:33] teefssi commented on #42
![q0Qmj2b0SDiQc0bVAI2hqA](https://user-images.githubusercontent.com/83118356/115955811-847ea080-a52b-11eb-824b-ca37b1e8be30.png)

[2021-04-24 12:26] chronosacaria commented on #42
That's weird. I've not changed anything with the registry. You're sure that both versions are the same? That kind of error usually means that there is a version mismatch.

[2021-04-24 12:47] chronosacaria commented on #42
Yeah, I just tested using a local server and I was able to connect to it with both versions being 3.1.1. It is possible that there might be an out of date version on the client side. If that isn't the case, though, if you could send me the log file, that would be awesome since that might help diagnose the issue. :)

[2021-04-24 16:42] chronosacaria commented on #39
Reopened out of caution

[2021-04-29 20:31] JoJazzy opened #45 "Update Wiki"
Could you please update the wiki?
I have no idea what half the enchants do and the wiki lacks most of them

[2021-05-03 21:39] chronosacaria commented on #45
I think you are confusing my mods with each other, which is common; but the MCDW wiki is up to date whereas the MCDA wiki may not be.

[2021-05-03 21:39] #45 closed

[2021-05-09 10:42] WolfGangPako opened #47 "Prospector 3 not working on Zombified Piglins"
I am playing the Vault Hunters Mod pack, dungeons enchantments is part of it.

I have prospector 3 on a diamond sword and I am not getting any emeralds from killing zombified piglins?

It works on endermen, so it is working, just not on zombified piglins?

[2021-05-22 14:04] chronosacaria commented on #47
Sorry this took so long for me to respond; I just tested this and I was able to get an emerald to drop from a zombified piglin. I think that the issue you may be running into is that there are several other things that can be dropped from them so they are taking precedence over the emerald drop. If you have done any more testing or are still experiencing this issue, please let me know. Also, if yo

[2021-05-22 14:05] chronosacaria commented on #42
Due to the lack of a response and my inability to reproduce the error, I am going to close this issue. If you are still having issues, please feel free to reopen the issue.

[2021-05-22 14:05] #42 closed

[2021-05-22 23:38] chronosacaria commented on #47
@WolfGangPako, I just realised that this is not in reference to my mod. You are looking for Dungeons Gear which can be found here: https://github.com/Thelnfamous1/Dungeons-Gear/issues

[2021-05-22 23:38] #47 closed

[2021-05-26 19:28] Greg-J opened #48 "STDERR Exception when downloading translations"
I _think_ this is due to one of the MCD mods based on the error, but I'm not sure.

[code]

[2021-05-26 20:32] chronosacaria commented on #48
Based on what, exactly? I am not seeing anything that specifically points towards one of my mods. Do you have more information that this? A crash log or something along those lines would be really helpful

[2021-05-26 21:42] Greg-J commented on #48
That's why I said _I think_. I'm only basing this on the `de.guntram.mcmod.crowdintranslate` reference. I thought mcmod could reference your mods since you use the mc*mod format, but now I realize it could easily just be a generic reference to MineCraft mod.

[2021-05-27 16:34] #48 closed

[2021-06-13 15:50] chronosacaria commented on #39
Fixed with latest version. Forgot to close

[2021-06-13 15:50] #39 closed

[2021-06-13 18:23] Karrtoffelbaer opened #49 "Enigma resonator causing crash with MobZ mobs"
With Enigma resonator 3 and over around 118 levels of xp on a sword with damage above 11 (vanilla limit on swords I think from tewsting), hitting a mob from the MobZ mod causes the game to crash

[2021-06-13 18:24] chronosacaria commented on #49
Could you share the crash report, please?

[2021-06-13 18:31] Karrtoffelbaer commented on #49
[crash-2021-06-13_20.18.34-client.txt](https://github.com/chronosacaria/MCDungeonsWeapons/files/6644424/crash-2021-06-13_20.18.34-client.txt)

[2021-06-13 21:45] chronosacaria commented on #49
This is a problem with XHP, it looks like. You may want to reach out to the author of that mod

[2021-06-13 21:57] Karrtoffelbaer commented on #49
Very well thanks a lot :)

[2021-06-13 22:55] TheNimbleNinja opened #50 "crash on startup 1.17"
https://gist.github.com/TheNimbleNinja/b2b0df86e54c5c7ca1634bfc4aa4da6a

[2021-06-15 12:20] #49 closed, assigned to nobody

[2021-06-15 12:23] chronosacaria commented on #50
Could you also post the crash log, please?

[2021-06-15 22:03] TheNimbleNinja commented on #50
for some reason its not crashing now i dont know why it crashed in the first place might of been a mod i had and removed causing it

[2021-06-15 22:03] #50 closed, assigned to nobody

[2021-06-16 04:26] ShyCatsu opened #51 "Melee Attacks Ricochet"
I made a world and modpack with ONLY MCDW to test this, and for some reason, every single time I melee an enemy with my fists, an arrow shoots out of them, as if they were hit by something with ricochet.

This is my one of my favourite mods, and this is kind of an embarrassing error.

https://user-images.githubusercontent.com/85979537/122157724-f808a400-ce30-11eb-839a-495a48138bd5.mp4
![Capture](h

[2021-06-16 04:30] ShyCatsu commented on #51
Disabling ricochet in the config does solve the issue, but this is something that should be investigated, if it is going to default to enabled. Thank you.

[2021-06-16 12:11] chronosacaria commented on #51
This is fixed in the 1.17 release. Once I fix my 1.16 dev environment, I'll be able to fix this for 1.16. If I cannot fix my dev environment this issue will go unresolved for 1.16

[2021-06-16 17:23] ShyCatsu commented on #51
All right, thank you!

On Wed, Jun 16, 2021, 07:11 chronosacaria ***@***.***> wrote:

[2021-06-30 15:44] chronosacaria commented on #6
Not sure how or when, but this issue appears to be resolved

[2021-06-30 15:44] #6 closed

[2021-06-30 16:19] #13 closed

[2021-06-30 16:20] chronosacaria commented on #51
I am unable to fix my 1.16.5 dev environment, so this issue will go unresolved in 1.16.5. This issue is resolved in 1.17 so this issue will be closed.

[2021-06-30 16:20] #51 closed, assigned to nobody

[2021-07-23 18:57] chronosacaria commented on #40
This should be resolved in the latest update

[2021-07-23 18:57] #40 closed

[2021-08-01 18:11] carlitosmusicmx opened #52 "Rushdown"
no se activa el encaamiento

[2021-08-12 19:33] #52 closed, assigned to nobody

[2021-08-29 05:25] itsdinkd opened #54 "[1.17.1] [latest mcdw] Poison Cloud Crash"
Ticking Entity due to poison cloud
---- Minecraft Crash Report ----

----------------
C2ME Compatibility Module Notice:
Do NOT report to mod authors if you encountered issues with the following mods:
- betternether@5.1.3
- charm@3.3.2
- betterend@0.11.0-pre
You can try disabling compatibility modules for these mods in "c2me-compat.toml" and try reproduce again.
Or try reproduce without C2ME.
-----

[2021-09-01 15:49] chronosacaria commented on #54
Okay, I have been racking my brain on this one for a few days now and there _has_ to be a conflict with a mod that is causing this issue as I have been unable to reproduce this crash with just MCDW installed, even when creating the optimal conditions for it to happen. Unfortunately, because there are so many mods that are installed, there is no way for me to know which mod is causing this conflict

[2021-09-02 23:09] abdmoh123 opened #55 "[1.17.1][v3.4.1] Crash when attempting to scroll down creative tab"
Seems there is a class casting error caused when loading up a spear (see log below).
I had the Iris shaders mod installed (includes sodium) could that be causing the problem? or is it a bug in this mod.

Log file:
[00:00:33] [Render thread/FATAL]: Reported exception thrown!
net.minecraft.class_148: Rendering screen
	at net.minecraft.class_757.method_3192(class_757.java:883) ~[intermediary-1.17.1.j

[2021-09-02 23:18] chronosacaria commented on #55
Please send me the whole crash log, not just part of it. Having only part of it doesn't actually help me

[2021-09-02 23:20] abdmoh123 commented on #55
ok sorry I will send both the crash report now.

Crash report:
https://pastebin.com/7xMdinMB

[2021-09-02 23:21] chronosacaria commented on #55
Awesome! Thanks, so much!

[2021-09-02 23:29] chronosacaria commented on #55
Well, I can confirm that it is not a bug with the mod. I tested it with just the mod installed and I did not get the crash. I am going to test with Iris now

[2021-09-02 23:36] chronosacaria commented on #55
The issue also, does not appear to be caused, specifically, by Iris, either as both mods can be installed without causing an issue. Something is trying to force the spears to be classified as a `MiningToolItem` when they are actually `McdwCustomWeaponBase` which are both extensions of `ToolItem`. I am not sure what is causing this issue, but it does not appear to be my mod, though it would appear

[2021-09-02 23:38] abdmoh123 commented on #55
Yeah the problem must be with another mod. Thanks for helping though

[2021-09-02 23:38] chronosacaria commented on #55
Actually, I see that you are using Dashloader, I think that it _could_ be what is causing the issue. It tends to skip a lot of initialisation steps

[2021-09-02 23:44] abdmoh123 commented on #55
I just tested it without dashloader. The problem no longer exists ahaha.

[2021-09-02 23:44] #55 closed, assigned to nobody

[2021-09-03 23:50] erebus227 opened #56 "keeps crashing"
every time i try to load up fabric it says "The game crashed whilst initializing game
Error: java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'mcdw'!
Exit Code: -1" please help

[2021-09-04 00:57] chronosacaria commented on #56
I need the crashlog if I am going to be able to help you

[2021-09-04 15:28] DomiIRL opened #57 "Tooltip Crash"
When I went over some bows in the creative gui the game just crashed.
From the crashlog it looks like a problem with the tooltip but I don't know if its from MCDW alone or from the combination with another mod.

https://pastebin.com/v0e34w3r

[2021-09-04 15:30] DomiIRL commented on #57
I just went over an old crash issue and it looks to be the same issue there with just another mod causing the problem. Maybe it is the LevelZ mod in this case because it adds tooltips to all weapons and tools

[2021-09-04 15:33] DomiIRL commented on #57
Yes I was right LevelZ is causing the issue, I'm gonna contact the LevelZ Developer ^^

[2021-09-04 15:33] #57 closed, assigned to nobody

[2021-09-05 23:36] itsdinkd commented on #54
Would NyfsQuivers be the conflict?

[2021-09-06 00:13] itsdinkd commented on #54
or Pehuki?

[2021-09-06 00:29] chronosacaria commented on #54
I'll take a look at both of those mods and see if they cause the issue. Thanks for mentioning that they could be the causes. I'll definitely do some testing 🙂

[2021-09-06 02:10] itsdinkd commented on #54
No problem!! Last one, McDoom!

[2021-09-06 12:34] WyLL-Code opened #58 "charge cant be put on anything"
The charge enchantment cant be put on anything. why.

Modlist:
Mob Origins (by UltrusBot)
Cloth Config API (Fabric) (by shedaniel)
Pehkui (by Virtuoel)
Architectury API (Fabric) (by shedaniel)
AppleSkin (by squeek502)
Bits And Chisels (by cool_mineman)
MC Dungeons Weapons (by chronos_sacaria)
MC Dungeons Armors (by chronos_sacaria)
Fabric API (by modmuss50)
No Enchant Cap (by AmyMialee)
Tax Free L

[2021-09-06 14:33] chronosacaria commented on #56
As a crashlog as not been provided, I am closing this issue

[2021-09-06 14:33] #56 closed, assigned to nobody

[2021-09-08 14:17] chronosacaria commented on #58
Have you tried putting it on a bow? It is made for bows and when I checked it worked with them

[2021-09-08 16:11] chronosacaria commented on #35
Implemented

[2021-09-08 16:11] #35 closed

[2021-09-16 16:19] #58 closed, assigned to nobody

[2021-09-18 05:39] StarAxeMaster opened #59 "my friend keeps getting this report when she tries to join our server, please help"
Registry remapping failed: Recieved ID map for
minecraft:sound_event contains IDs unknown to the receiver!
- mcdw:echo_sound

I realize that this was already and issue and was closed due to no one responding but if you could help that would be very much appreciated.

[2021-09-18 22:25] BrekiTomasson commented on #54
I just got the same `onPoisonCloudShotEnchantmentEntityHit`-related crash with `net.minecraft.class_1613 incompatible with net.minecraft.class_1657` as well.

That said, I'm not using NyfsQuivers or Pehuki, so my guess is that the problem lies elsewhere. Going though the list of mods in the original trouble ticket, these are the ones that are in my modpack and that modpack, meaning it's fairly lik

[2021-09-22 01:13] SopsyHallow opened #60 "Certain crossbows dont work"
Certain crossbows dont seem to work, they draw back but they never load the arrow and cant be fired.

The Crossbows in question are;
      "Pride of the Piglins"
      "Nautical Crossbow"
      "Corrupted Crossbow"
      "baby Crossbow"
      "Dual Crossbow"
      "Veiled Crossbow"
      "Rapid Crossbow"

![2021-09-22_03 02 51](https://user-images.githubusercontent.com/91166883/134267883-fc44c7ac-

[2021-09-22 01:25] chronosacaria commented on #60
Thank you for narrowing down the crossbows. I can, indeed, confirm that the issue is in this modpack as you are not the first person to mention it. However, I was not able to figure out what was causing the issue last time either.

I will do some more testing this time around and see if I can't isolate the mod that is causing the conflict with MCDW and get this squared away.

Thanks again!

[2021-09-22 01:27] chronosacaria commented on #59
Sorry for the delay in my response. I was taking a break due to some health issues.

Which version of MCDW are they using and which version is on the server?

[2021-09-22 01:49] SopsyHallow commented on #60
Thank you for looking into it and respond quickly.

Do you know if those bows by any chance have modified charge rates?
It's just an idea but the way they seem to not load looks like how vanilla crossbows with a broken quick charge enchant try to load but never finish.
Maybe the compatinility issue could be related to a mod that modifies enchants and thus breaks the bows? Idk, it's just an idea.

[2021-09-25 12:30] chronosacaria commented on #60
Okay, I finally found the problem. It took a bit, but it is related to Deep Mob Learning: Refabricated. I'll see what I can do to get this resolved. Thank you, again, for all of the help that you provided with identifying the particular crossbows that were affected

[2021-09-28 17:30] ThebigTijn opened #61 "Bows, Crossbows dont work"
https://cdn.discordapp.com/attachments/778582541547601931/892463087100264518/mcdw_bug.mp4 just this

[2021-09-28 18:36] chronosacaria commented on #61
Whilst I appreciate the video, this is less helpful than it may seem at first. I need to know a number of things:
1. Do you have other mods installed?
2. Are you using a modpack? If so, what is it?
3. What version of MCDW are you using?
4. What version of Minecraft are you using?

Let's start there :)

[2021-09-28 21:38] ThebigTijn commented on #61
Yeah so, the mods I used are in the video. I am on 1.17.1, I am not using a modpack, and it’s the latest on curseforge.

[2021-09-28 23:34] chronosacaria commented on #61
Is that all of them? There are no other libraries that don't show up in Mod Menu? I just want to make sure that something isn't missing here.

I'm thinking that it might be Not Enough Animations causing the issue, but I'll do some testing tomorrow. The issue doesn't exist with just MCDW.

In the future, though, when providing bug reports, please consider adding a list of the mods. I am partially b

[2021-10-10 11:52] chronosacaria commented on #59
This issue will be closed due to lack of response

[2021-10-10 11:52] #59 closed, assigned to nobody

[2021-10-10 11:53] chronosacaria commented on #54
Just wanted to let you all know that I am still working on this issue

[2021-10-11 16:39] raphdcst opened #62 "How can I install it ?"
I install the three mods of MC dungeons, with Trinkets. But its not work...
I've a low-end pc but with other mods, its work perfectly, so I think I don't install correctly the mods.

Can anyone help me ?? Thanks <3

(PS : I'm french, so my english isn't perfect I know)

[2021-10-11 16:48] chronosacaria commented on #62
Pourriez-vous poster votre crashlog, s'il vous plaît? Ça m'aiderait à diagnostiquer le problème

[2021-10-12 22:49] dhkatz commented on #54
Can confirm that I've been receiving the same crash on a server with friends

[2021-10-12 23:06] chronosacaria commented on #54
@dhkatz could you post your mod list, please? I'm still trying to narrow down what is causing this issue and having your mod list would help. Thanks, in advance!

[2021-10-12 23:10] dhkatz commented on #54
Yes it is the lastest version of [Medieval Minecraft](https://www.curseforge.com/minecraft/modpacks/medieval-minecraft-fabric).

I was able to "fix" this by editing my friend's NBT data to kill him the instant he joined the server again. Then I could delete all hostile mobs in the area with commands and then reupload his NBT data with his health back to full again meaning he kept all his stuff.

[2021-10-12 23:18] chronosacaria commented on #54
Ah, okay! Thanks, so much!

[2021-10-13 12:42] AllenWorker commented on #54
I found out when the skeleton has this kind of enchant bow and hit any entity, the error occur.  you can try to summon a skeleton with this enchant bow and see if you can reproduce the issue. Hope it helps

[2021-10-13 13:41] chronosacaria commented on #54
@AllenWorker yeah, that is the weird thing: it doesn't happen with just MCDW. It happens if the skeleton spawns with a bow with Poison Cloud, but only if there is some other mod installed. I'm just not sure which mod it is that is causing this strange class cast exception.

There is an easy fix, but it would limit the functionality of mobs getting the enchantment for those who aren't getting the c

[2021-10-13 15:24] itsdinkd commented on #54
maybe the mod is Eldritch Mobs? it gives a chance to buff mobs that spawn
into stronger variants

On Wed, Oct 13, 2021, 6:42 AM chronosacaria ***@***.***>
wrote:

[2021-10-13 15:27] chronosacaria commented on #54
That would make the most sense, actually

[2021-10-13 16:55] raphdcst commented on #62
Yes, of course.
[crash-2021-10-13_18.53.44-client.txt](https://github.com/chronosacaria/MCDungeonsWeapons/files/7340064/crash-2021-10-13_18.53.44-client.txt)

[2021-10-13 18:05] chronosacaria commented on #62
@raphougrr ah, I see the problem. You need to install this mod: [https://www.curseforge.com/minecraft/mc-mods/cloth-config/files/3413206]() and that should solve your issue 🙂

[2021-10-16 08:55] AllenWorker commented on #54
I think the problem is never about the PoisonCloud, it is RefreshmentShot.
https://github.com/chronosacaria/MCDungeonsWeapons/blob/3d77e0a5e58356e6833e626bc8f44f0945550cf1/src/main/java/chronosacaria/mcdw/mixin/enchantments/RefreshmentShotEnchantmentMixin.java#L32
why in RefreshmentShotEnchantmentMixin there is the method call onPoisonCloudShotEnchantmentEntityHit and same as in PoisonCloudShotEnc

[2021-10-16 11:13] chronosacaria commented on #54
@AllenWorker Oh my goodness, I think you're absolutely right! I screwed up and didn't change the name in the mixin, but that makes so much sense that it would cause a crash! I'll test this today. Thank you, so much, for catching that

[2021-10-16 12:54] chronosacaria commented on #54
You were 100% right! Thank you so much! I can fix this now

[2021-10-16 13:06] #54 closed, assigned to nobody

[2021-10-17 04:33] Dark-Matter-X opened #63 "Crashing on Initializing game"
[crash-2021-10-17_13.15.32-client.txt](https://github.com/chronosacaria/MCDungeonsWeapons/files/7358716/crash-2021-10-17_13.15.32-client.txt)

Game cannot launch due to this error:
java.lang.RuntimeException: Could not execute entrypoint stage 'main' due to errors, provided by 'mcdw'!

[2021-10-17 12:11] chronosacaria commented on #63
Hi @Dark-Matter-X! It looks like there is a conflict with Limitless. Could you try removing it and seeing if the issue still happens?

[2021-10-18 05:21] Dark-Matter-X commented on #63
Thanks! Game is working again.

[2021-10-18 10:36] chronosacaria commented on #63
No problem! I'm glad it was an easy fix 🙂

[2021-10-18 10:36] #63 closed, assigned to nobody

[2021-10-19 11:33] chronosacaria commented on #62
As the correction has been issued, this issue shall be closed

[2021-10-19 11:33] #62 closed, assigned to nobody

[2021-11-02 10:12] Flyvee opened #64 "Levitation effect from bows not ending"
On our server we have the MC Dungeons Weapons and Armours mods, and from the weapons mod, the levitation effect that can be applied through the use of the dark enchanter mod, causes those struck by the arrows to levitate, the problem is that the levitation effect doesn't stop when the timer reaches 0. Clearing effects doesn't remove the levitation effect either. So far we have found the only way t

[2021-11-02 12:34] chronosacaria commented on #64
I appreciate the feedback so much as you can imagine, testing against so many other mods is virtually impossible.

Could you provide a server log so that I can see what version of the mods you're using or just provide a list? I only as that you either do the log or type it out as I sometimes use a screen reader as I am visually impaired and I will have difficulty if you post it as an image.

Thank

[2021-11-08 15:36] Xneverfound opened #65 "some enchants dont work on players"
-chains
-chain reaction
-commited
-enigma resonator
-exploding
-Gravity
-leeching
-prospector
-radiance(idk if just heals you or the person close to you as well)
-rapamging
-refreshment
-refreshment shot
-rushdown
-stunning
-void strike
-void shot

some of them idk

[2021-11-20 11:34] Flyvee commented on #64
I checked the closed issues and it seems that because we use the toggleable pvp mod, the effect only happens between players that have the pvp off so I guess it is an issue on that mod's side.

[2021-11-20 14:45] chronosacaria commented on #64
Ah, okay, yeah. That makes sense. I've not really been able to figure out a way around getting my mod to work with that mod. They may need to add the compatibility on their end, but once I get my computer up and running again, I'm gonna be looking into this more deeply

[2021-12-19 00:08] chronosacaria opened #66 "Soul Siphon is marked as an AoE Enchantment when it isn't"
This is causing enchantment conflicts that should not be happening

[2021-12-19 00:14] chronosacaria opened #67 "Leeching should not conflict with DamageBoostEnchantment"
Leeching is as per kill, not as per hit, so there is no need for it to not work with DamageBoostEnchantments

[2021-12-20 16:59] SHXRKIEgg opened #69 "Crashing with LevelZ"
Crash with LevelZ mod I believe, one of my players reported it

[Crash](https://github.com/chronosacaria/MCDungeonsWeapons/files/7746839/crash-2021-12-18_17.51.36-client.2.txt)

[2021-12-20 17:26] chronosacaria commented on #69
Hey @SharkieTV! This may need to be fixed on Globox's side. The Glaive is a SwordItem in MCDW's code and it looks like LevelZ is trying to cast it into a MiningToolItem for some reason. Looking at their code, it looks like they are using the tags to assign types of weapons, but the glaives are noted in the swords.json file, so I am even more confused by this. It might be worth reaching out to Glob

[2021-12-20 22:49] itsdinkd opened #70 "Reduce Cackling Broom Drop rate"
1.18.1 Fabric

The drop rate for this guy is waaaay too high... please reduce.

[2021-12-21 02:41] Kluzzio commented on #70
Received 4 brooms from a single witch so looting is not working properly as well

[2021-12-21 02:43] chronosacaria commented on #70
Yeah, I thought I was making it low but clearly I screwed that one up lol :P I'll fix it in the refactor

[2021-12-21 23:42] #66 closed, assigned to chronosacaria

[2021-12-21 23:42] #67 closed, assigned to chronosacaria

[2021-12-22 00:49] #70 closed, assigned to chronosacaria

[2021-12-23 02:13] chronosacaria opened #71 "GuardingStrikeEnchantment is marked as AoEEnchantment but isn't"
Guarding Strike is not an AoE Enchantment and should be corrected

[2021-12-23 09:25] Kluzzio opened #72 "Refreshment and Refreshment Shot aren't compatible with anything"
Refreshment and Refreshment Shot seem to not be able to enchant anything that is already enchanted.
     - Tested against all @mcdw and vanilla enchantments at their respective max levels by combining the books on anvil. Not possible to combine with any enchantment
     - [MCDungeons_Mods_Enchant_Conflicts.xlsx](https://github.com/chronosacaria/MCDungeonsWeapons/files/7768169/MCDungeons_Mods_Encha

[2021-12-23 16:14] #71 closed, assigned to chronosacaria

[2021-12-24 00:54] Kiryonn commented on #69
yes i confirm it's levelZ incompatibility. somewhat.
[crash-2021-12-24_01.46.59-client.txt](https://github.com/chronosacaria/MCDungeonsWeapons/files/7771973/crash-2021-12-24_01.46.59-client.txt)

i believe it comes from the strength needed for weapons to be used. might be wrong tho. i'll send an issue to GloboxZ on that one and let you tuned.

[2021-12-26 07:26] Kluzzio commented on #61
List of the mods present in the video:
Apoli
BackSlot
BCLib
BetterEnd
Better Nether
BetterF3 (Client)
Calio
Charmonium (Client)
Dehydration
Enchant Giver
EnvironmentZ
Falling Leaves (Client)
FirstpersonModel (Client)
Improved Stations
MC Dungeons Armors
MC Dungeons Artifacts
MC Dungeons Weapons
Mod Menu (Client)
NotEnoughAnimations (Client)
OptiFabric (Client)
Origins
Origins: Classes
Presence Foo

[2021-12-28 16:02] Globox1997 commented on #69
LevelZ uses the fabric tags to determine the item damage.
The crash should only happen with items not included in those tags.
@Kiryonn or @SharkieTV , which exact item cause this crash?

[2021-12-28 18:38] chronosacaria commented on #69
Ah, maybe I missed some items in the tags files? I'll check that now

[2021-12-28 19:23] chronosacaria commented on #69
I had missed some weapons in the tag files, but it would appear that none of them were Glaives or Hammers like in the crash reports 🤔

[2021-12-29 11:24] Globox1997 commented on #69
Waiting for those guys to test it :) @chronosacaria do you have a updated version with the missing ones?

[2021-12-30 17:24] WyLL-Code opened #73 "Ambush does not work properly"
If ambush does x6 damage when crouching and invisible, it should be able to one shot a piglin brute, however when the weapon is enchanted with sharpness V and Ambush 3, it takes 3 hits with a diamond sword and 2 hits with a Mechanized sawblade

[2021-12-30 17:57] Kluzzio commented on #73
Ambush is 1.45x damage at Ambush 3. It is not 6x damage. The damage calculation is also done with attackDamage which is the base damage of the weapon which does not factor in sharpness. The amount that is being done will be modified in the refactor to include the damage done by sharpness. This will result in a slight buff. Around 1.35 extra damage dealt when paired with sharpness V. Certainly noth

[2021-12-30 18:04] #72 closed, assigned to nobody

[2021-12-30 18:04] #73 closed, assigned to nobody

[2021-12-30 18:06] chronosacaria commented on #69
@Globox1997 I will have an updated version to work with on the first of the year. I have been pretty sick (I got COVID...), but I can also do some testing on my end with LevelZ

[2021-12-30 23:41] chronosacaria commented on #69
Didn't mean to close it...Just meant to reference it

[2021-12-31 06:22] Nanichan20 commented on #69
Hope you get better soon dude. saw the reply on curseforge but hasn't been active on it much

[2021-12-31 09:22] Globox1997 commented on #69
A nice dude suggested a solution on my end, so I will also have a fix for that :)
 @chronosacaria  don't have fear and we both know our god is greater than any sickness, I pray for you brother :)

[2021-12-31 12:31] chronosacaria commented on #69
@Globox1997 Amen to that! Thank you so much for your prayers. It means a lot

[2022-01-01 19:57] Lordbaane opened #74 "Incompatible with Backslot"
https://bytebin.lucko.me/NCvASg5Bpw
Version 4.0 causes a crash when opening inventory.

[2022-01-01 23:19] chronosacaria commented on #74
Yep, I've already reached out to Globox about it. Hopefully we can get this resolved quickly :)

[2022-01-03 12:25] SattesKrokodil opened #75 "New Year new issues! ;)"
https://pastebin.com/QHkYYsqR

Any quick/obvious ideas? Else I can try to reproduce or isolate it

[2022-01-03 12:26] #75 closed, assigned to nobody

[2022-01-03 12:26] SattesKrokodil commented on #75
nvm just seen it is alrdy reported

[2022-01-04 18:15] chronosacaria commented on #74
This should be fixed now: https://github.com/Globox1997/BackSlot/commit/26603ea6a11a357ee9c2e07d06e5621ca1ba65f7

[2022-01-04 18:15] #74 closed, assigned to chronosacaria

[2022-01-06 12:12] C10udburst opened #76 "NPE"
I have disabled all the crossbows in the config file, the rest of the config is default.

[code]

[2022-01-06 16:27] chronosacaria commented on #76
Thanks! I'll be taking a look at this

[2022-01-06 16:29] Kluzzio opened #77 "Innate Enchantments ignore compatibility conflicts with other enchantments"
Innate enchantments are ignoring enchantment conflicts

"Moon dager can get enigma resoanator and void strike without activating the op mixture"
 - Xneverfound🎄

[2022-01-06 19:37] Miku0Sama opened #78 "Soul Devourer has no Description"
The Soul Devourer Enchantment has no description and I can't figure out what it does.

[2022-01-06 22:20] Kluzzio commented on #78
You are absolutely correct, apologies! The soul devourer enchantment multiplies experience received. Experience gained from experience orbs is dependent on the total soul devourer level between your mainhand and offhand weapon (offhand only contributes if it has dual wielding).

The description will be added to the next MCDW release and the wiki will be updated soon!

[2022-01-06 23:23] Zach67 opened #79 "Crash due to enchantment on piglin crossbow?"
I was in the nether and a piglin shot me with his enchanted crossbow. Right as the arrow hit me the server crashed. You can find the crash log at: https://pastebin.com/D0ebf9fL

[2022-01-06 23:35] Zach67 commented on #79
Another crash when I load up the server and try to join again. Crash log can be found here: https://pastebin.com/88BDuatq

[2022-01-08 13:00] #76 closed, assigned to chronosacaria

[2022-01-08 13:09] #79 closed, assigned to nobody

[2022-01-08 13:16] #78 closed, assigned to chronosacaria

[2022-01-08 13:29] chronosacaria commented on #77
I cannot reproduce this on the latest version with the latest fixes outside of creative mode and without OP Mixing enabled. As such, I am going to close this issue.

[2022-01-08 13:29] #77 closed, assigned to chronosacaria

[2022-01-14 20:15] mropitzky opened #80 "Repairing Weapons"
Hello! I noticed today today when i went to repair a weapon, there was no easy way to do so other than making another copy and throwing it into the anvil. The issue with that is that most have bas enchantments on them allready, which jacks the price of repair up astronomically since yoru technically enchanting it. My question is, is there another way to repair these weapons that im just not seeing

[2022-01-15 21:21] Kluzzio commented on #80
Weapons can be repaired with specific items. You can see these items required for specific weapons in the mcdw_stats_config file under material. If these do not appear for you, you are using an older version. Seeing as how this is not a current issue, I will close this issue.

[2022-01-15 21:21] #80 closed, assigned to nobody

[2022-01-15 21:23] Kluzzio commented on #69
Fixed by Globox : https://github.com/Globox1997/LevelZ/commit/83b1519559f02606466b850ab62b9bb0e2283aac

[2022-01-15 21:23] #69 closed, assigned to chronosacaria

[2022-01-18 13:49] DT05YT opened #81 "Villagers can give armors with MCDW enchants"
Doesnt apply the enchants when wearing but they seem to work when holding and punching something with them

[2022-01-19 02:57] ThinkWithPbody opened #82 "Fishing Rod Enchantments"
![image](https://user-images.githubusercontent.com/51525460/150054937-8b700001-b117-4622-af90-c2398e6e0aee.png)
Please forgive me for not giving the fullest details. In short, enchantments such as Echo, Soul Siphon, Leeching, Rampaging, Swirling... can be applied to fishing rods when using an enchantment table. This surely can't be the intented behaviour?

[2022-01-19 22:47] ThinkWithPbody commented on #82
I just found out that these enchantments can be applied to pickaxe and other tools too when using an enchantment table. From this I can assume it is their expected behaviour, but I still think it would make more sense to have them only applied to weapons and books when enchanting normally through enchantment tables, so you wouldn't have to end up with an Echo 3 Unbreaking 3 pickaxe.

[2022-01-20 01:38] Kluzzio commented on #82
Could you say what version you are using? @ThinkWithPbody
If it is indeed the latest, we will look into it soon.

[2022-01-20 04:54] ThinkWithPbody commented on #82
I was using the latest version available for 1.18.1 on curseforge, with mcda-1.9.0.jar, mcdar-1.4.3-1.18.jar, and mcdw-4.0.2.jar. I am however using 145 vanilla-style fabric mods in total, mostly being cosmetic with no mods adding or altering the enchantments in any way other than Bow Infinity Fix. I can try to narrow it down if required.

[2022-01-20 15:22] TheButterbrotMan opened #83 "Probably StunEnchantment related crash"
https://pastebin.com/bLHpGmVX

[2022-01-20 15:25] chronosacaria commented on #83
This crash is from More Dumb Items

[2022-01-20 16:37] TheButterbrotMan commented on #83
Okay, i opened an Issue, Sorry!

[2022-01-20 16:37] #83 closed, assigned to nobody

[2022-01-21 06:35] aisukuma opened #84 "All swords have the same durability"
I have a custom modpack required for use for my server and a server member told me that the sword weapons have the same durability.

They did some testing and told me that they were all the same, so I tested to see if my modpack was an issue but it was the same just with MCDW only. As for the other weapon types, I have not tested them and assumed they are the same.

The image below is an image of

[2022-01-23 15:55] RedWideWeb opened #85 "Combat ecnhantemnts are tagged as Tools"
Since version 4.0.0 Combat enchantments like Void Strike are tagged as Tools.

3.6.0
![изображение](https://user-images.githubusercontent.com/58992150/150686861-38c35875-6ae2-4ae2-9d59-a6ee8318f5f4.png)

4.0.0
![изображение](https://user-images.githubusercontent.com/58992150/150686875-f91bd222-4779-4714-b01c-5151b9e5c9ad.png)

This issue makes enchantment frustrating experience.

[2022-01-24 04:05] Kluzzio commented on #85
This is likely the cause for (#82)

[2022-01-24 04:17] chronosacaria commented on #85
🤦‍♂️

[2022-01-24 06:46] RedWideWeb commented on #85
Is this going to take long to fix, @chronosacaria ?

[2022-01-24 06:48] chronosacaria commented on #85
No. I'm gonna look at it tomorrow/today after I get some sleep

[2022-01-24 06:49] RedWideWeb commented on #85
Great! Thank you!

[2022-01-24 08:04] RedWideWeb commented on #85
You are absolutely right. It's strange though how come Void Strike can still be applied to Chestplates? Chestplates are Combat. So are the enchantments tagged with Tools and Combat but the game only shows the first one?

[2022-01-24 16:28] sororbadr opened #86 "Prospector not working"
I have a diamond sword with prospector 1 and i've killed hundreds of mobs with no emeralds dropping

[2022-01-24 16:41] chronosacaria commented on #86
What mobs are you killing? What version are you on? Are you using a modpack? Are you on a server or in single player? There is a lot more information that I need.

[2022-01-24 17:12] sororbadr commented on #86
I'm playing on 1.18.1 in a self made modpack consisting of 90 mods from aqm 2. I've tried killing Zombie piglins, cows, zombies, skeletons, creepers, spiders etc to no avail.

[2022-01-24 17:13] sororbadr commented on #86
(on a singleplayer world)

[2022-01-24 19:25] Kluzzio commented on #86
With prospector 1, you only have a 5% chance to get the emerald. In addition, it has to be a monster entity that you kill, that means no cows among other harmless entities. If it is indeed not working on your end, it is likely due to one of the mods from aqm 2 (probably Deep Mob Learning: Refabricated), as that modpack loves to cause issues with the MCDX mods.

[2022-01-24 19:26] chronosacaria commented on #61
As this is likely an issue with the model mod and the bows and crossbows work with the base mod, this issue shall be closed.

[2022-01-24 19:26] #61 closed, assigned to nobody

[2022-01-24 19:27] chronosacaria commented on #64
As there is not much that I can do on my end with respect to this custom pvp mod, I am closing this issue.

[2022-01-24 19:27] #64 closed, assigned to chronosacaria

[2022-01-24 19:33] #65 closed, assigned to chronosacaria

[2022-01-24 19:33] #86 closed, assigned to chronosacaria

[2022-01-24 19:33] #85 closed, assigned to chronosacaria, Kluzzio

[2022-01-24 19:34] #84 closed, assigned to nobody

[2022-01-24 19:35] #82 closed, assigned to chronosacaria, Kluzzio

[2022-01-24 19:35] #81 closed, assigned to chronosacaria

[2022-01-24 19:36] sororbadr commented on #86
I haven't added deep mob learning to my personalized modpack. do Zombie piglins count as harmless mobs?

[2022-01-26 12:31] RedWideWeb opened #87 "Incompatibility of Soul Devourer enchantment with Clumps mod"
The minecraft dungeons wiki doesn't have such thing. I didn't get more XP from an orb as it is stated in your mod's wiki.

Sorry to open an issue but I am confused

[2022-01-26 19:02] Kluzzio opened #89 "Heartstealer does not accept Soul Devourer"
**Describe the bug**
Heartstealer does not accept Soul Devourer

**To Reproduce**
Steps to reproduce the behavior:
1. Spawn in (or make) Heartstealer
2. Try to enchant with soul devourer 3
3. Be sad

**Expected behavior**
Since Soul Devourer only is incompatible with OP Mixing and Soul Siphon, and since leeching is only incompatible with other healing enchantments, soul devourer should be able to

[2022-01-26 19:06] Kluzzio commented on #87
Extra xp is granted from experience orbs
this.amount = (this.amount * (1 + (soulDevourerLevel / 3)) + Math.round(((soulDevourerLevel % 3)/3.0f) * this.amount));

devourer is guaranteed and can be up to a 3x multiplier
soul devourer requires you to have the enchanted weapon equipped in mainhand, or (and it stacks) a dual weilding enchanted weapon in offhand

Please ensure that you are using the lat

[2022-01-26 19:43] Kluzzio commented on #89
Upon some more testing, it seems leeching is not accepting any enchantment but itself which means that it is likely an issue with the canAccept method

[2022-01-26 19:44] Kluzzio commented on #89
I know the issue, I believe, this will be fixed in next release 🤦‍♂️

[2022-01-26 19:48] Kluzzio commented on #89
![image](https://user-images.githubusercontent.com/96443090/151235818-8c2a2b97-ec66-4fff-9320-bc732090187f.png)

[2022-01-26 22:20] RedWideWeb commented on #87
@Kluzzio I am using 4.0.3. I don’t get the slightest more xp. Can you please check that or show an exmaple?

[2022-01-27 19:34] chronosacaria commented on #87
Hi @RedWideWeb! Soul Devourer does, indeed, work in all the scenarios that we tested it in (Client, Server, Dev Environment, etc.). If you are only gaining 1 XP at a time (killing slimes, for example) and you only have Soul Devourer I, you will not gain any extra XP, but any other time you will see an increase in your XP gain. Please let me know what weapon you have it on, if you are using it in y

[2022-01-27 19:49] #89 closed, assigned to chronosacaria, Kluzzio

[2022-01-29 06:39] ZeburaBlack opened #90 "Some enchantments do not work as intended."
|Version|
Minecraft 1.18.1
fabric-loader-0.12.12-1.18.1

ModList:
**MmmMmmMmmMmm**(1.5.0)
**MC Dungeons Armors**(1.9.0)
**MC Dungeons Weapons**(1.4.3)
**MC Dungeons Artifacts**(4.0.2)
**Enchantment Description**(9.0.11)
**Sodium**(0.4.0-aplha6+build.14)
**Mod Menu**(3.0.1)
**ToroHealth Damage Indicators**(1.18-fabric-2)

Descriptions from "[Wiki](https://github.com/chronosacaria/MCDungeonsWeapons/

[2022-01-29 07:36] Kluzzio commented on #90
Thanks for telling us! Will look into soon and should be fixed in next release!

[2022-01-29 20:58] Kluzzio commented on #90
That gravity bug is funny but being fixed. Thank you for finding that, it's hilarious

[2022-01-29 21:15] Kluzzio commented on #90
![image](https://user-images.githubusercontent.com/96443090/151677681-c3e843c2-ecbf-4375-88b8-b08f96fb3a41.png)

Okay, Gravity was funny and I'm sad at how long it took me to notice what was wrong here. The tragedy of copy paste I guess.
Super easy fix though. And I know what is wrong with the other two, it's modifying only the damage of the arrow but because of how the calculations are done curre

[2022-01-30 04:25] Kluzzio commented on #90
Current fixes are lazy for Void Shot and Growing. Because of this, this issue should be left open until they are adapted to not cause any issues. A template is in place for how they can be adapted back to mixing into "onEntityHit" but as a modify variable so that nothing is infringed on. Current implementation has a soft bug attached to it, but it is avoidable and all three current implementations

[2022-01-30 04:37] Kluzzio commented on #90
Oh yea, those 2 are also lazy because I changed the damage source to Generic from Arrow to avoid a loop but this should be solved with a modify variable.

[2022-01-31 21:39] Kluzzio commented on #90
Modify Variable changes were made and they work, so this issue will be closed.

[2022-01-31 21:39] #90 closed, assigned to chronosacaria, Kluzzio

[2022-02-01 21:02] Kluzzio commented on #87
Due to lack of response, this issue is being closed.

[2022-02-03 13:04] RedWideWeb commented on #87
I was testing. I have many mods and I was trying to figure out which one was causing problems. Turns out it's Clumps. You should know this mod. It optimizes experience orbs. Apparently replacing the xp entity and mcdw cannot apply Soul Devourer. Could you make an addition to your mod so that it works with Clumps orbs?

[2022-02-03 14:28] chronosacaria commented on #87
I was kind of concerned that Clumps might cause an issue. We'll definitely take a look at this

[2022-02-03 14:45] RedWideWeb commented on #87
@chronosacaria Thank you!

[2022-02-09 23:43] chronosacaria commented on #87
Hey, @RedWideWeb! Some bad news for now: It looks like we really can't do a whole lot right now because Clumps isn't applying XP correctly to the player. We have cleaned up the mistakes on our end, but the author of Clumps would have to change the way that they are giving the XP to the player before much could really be done.

The commit that Kluzzio made does, indeed, make the experience apply pr

[2022-02-09 23:43] #87 closed, assigned to chronosacaria, Kluzzio

[2022-02-09 23:51] RedWideWeb commented on #87
Thank you very much! I will try to reach out Clumps dev

[2022-02-10 20:52] AragoonKappa opened #91 "Royal guard shield cannot be repaired"
The Royal Guard shield can not be repaired with diamond as it should :

![image](https://user-images.githubusercontent.com/25965310/153494476-bcd96ebd-0f59-4c28-bee0-c8516fe49583.png)

Other shields might be affected, not tested.

MCDW version 4.0.4, Fabric 0.12.12

[2022-02-10 23:21] Kluzzio commented on #91
![image](https://user-images.githubusercontent.com/96443090/153513433-9ba50994-5edc-4412-b477-bd35b0dd58d2.png)
Fixed! :)

[2022-02-10 23:22] #91 closed, assigned to chronosacaria, Kluzzio

[2022-02-15 06:38] Kluzzio opened #92 "Broken Sawblade doesn't have any way to retain enchantments"
**Describe the bug**
Mechanized Sawblade loses enchantments when it breaks.

**To Reproduce**
Steps to reproduce the behavior:
1. Enchant Mech. Sawblade
2. Let it break
3. See broken sawblade is original item
4. Be sad

**Expected behavior**
Mech. Sawblade should either be repairable before breaking or retain enchantments when it does break without the use of mending.

**Please complete the follow

[2022-02-15 07:47] xR4YM0ND opened #93 "[Feature Request] Material ID for Datapack with LevelZ mod -> where to find material id in mcdw -> in mcda i found it"
I wanna know where i can find the "material id" for every sword / weapon

I'm making a datapack for the mod "LevelZ"

Looks like:
{
    "replace": true,
    "skill": "strength",
    "level": 1,
    "item": "minecraft:sword",
    "material": "?"
}

The question is what i type for "material"

I found something like "SWORD_HEARTSTEALER" but it doenst work.

Your Armor Mod has some lower case like "so

[2022-02-15 07:49] Kluzzio commented on #93
The repair ingredient (material) is dependent based on what the toolMaterial is. You can find this for every weapon in the McdwNewStatsConfig.java file.
This is the file path.
![image](https://user-images.githubusercontent.com/96443090/154016256-8446efd6-e3e5-4ed8-b082-c96d8b22f6a4.png)

[2022-02-15 12:37] Kluzzio commented on #92
I will also note, I am not certain that this is still an issue as I have not tested it myself, but I don't believe anything has been changed from looking at the code.

[2022-02-15 14:28] Kluzzio commented on #93
Do let me know if that is what you were looking for. If not, some further clarification with what you found on MCDA would be great! Thanks @SpigotDE

[2022-02-15 14:40] xR4YM0ND commented on #93
aaaah its bound on wood / iron /diamond and so on.. ok now i understand.

In MCDA you have extra bindings :

https://github.com/chronosacaria/MCDungeonsArmors/blob/1.18/src/main/java/chronosacaria/mcda/items/ArmorSets.java

For Example i can add:

{
"replace": true,
"skill": "strength",
"level": 1,
"item": "minecraft:armor",
"material": "archer"
}

With MCDW i have to add for example:

{
"replace"

[2022-02-15 14:43] xR4YM0ND commented on #93
If you dont know what i mean we can quickly discord or something else

[2022-02-15 14:44] xR4YM0ND commented on #93
SpigotDE#8841

[2022-02-16 04:40] Kluzzio commented on #93
Alright, I sent you a friend request on discord so that we can converse what exactly you'd like there.  I was hoping you could explain what you'd like a little more, so I can discuss it with Chronos. My discord is Amphibatron#5091. @SpigotDE

[2022-02-16 04:41] Kluzzio commented on #93
Alternatively, you can also join Chronos' discord which you can find the link to on curseforge or the wiki page.

[2022-02-18 18:45] KingPigStep opened #95 "[Feature Request]"
the custom enchantments in dungeon mcwp are rly good but u can only turn it off permanently or turn them on permanently, personally id like a gamerule that makes its so u can disable normal way to get those enchantments like finding in structures (or only really rare ones) and enchanting, like : /gamerule DoPlayersFingCustomEnchants false/true

you could also make another command that disable cust

[2022-03-01 14:50] Kluzzio commented on #93
![image](https://user-images.githubusercontent.com/96443090/156190902-f2c0fdfc-1a68-4075-b533-d339f0486b1b.png)
From Globox, maker of LevelZ. That feature will be added on their end @SpigotDE

[2022-03-01 14:52] Kluzzio commented on #93
I will close this comment when there is confirmation that this works with mcdw. The change will happen on LevelZ's update with their 1.2.0 release

[2022-03-01 18:20] xR4YM0ND commented on #93
[Confirmed] works as planned - thx <3

[2022-03-01 20:33] #93 closed, assigned to chronosacaria, Kluzzio

[2022-03-02 18:47] liwiss opened #97 "Axolotl issue"
Every time an axolotl defeats an underwater mob the game crashes. When reloading the world runs perfectly. I don't know if it has to do with some compatibility issues, but i've created an instance of the game only containing this mod and the same thing happens.
Here's the crash report in the moded version.

---- Minecraft Crash Report ----
// Hi. I'm Minecraft, and I'm a crashaholic.

Time: 3/2/22

[2022-03-02 18:54] chronosacaria commented on #97
Thank you, so much! There were some issues that another person was having but we couldn't pin them down. We're looking at this right now

[2022-03-02 19:03] chronosacaria commented on #97
Okay! We fixed it. I'll be pushing the update now

[2022-03-02 19:04] chronosacaria commented on #97
https://github.com/chronosacaria/MCDungeonsWeapons/commit/e7f6cb59895073e5fd5948b9ebc8b51ef050e985

[2022-03-02 19:04] #97 closed, assigned to chronosacaria, Kluzzio

[2022-03-02 19:34] liwiss commented on #97
thanks!

[2022-03-03 16:49] itsdinkd opened #98 "[1.18.1 Crash] crash on launch due to mixin"
**Describe the bug**
Mixin crash when launching game from my modpack, AQM2 with the latest mcdw update

**Please complete the following information:**
 - MCDW v4.2.1

**Additional context**
crash log; https://gist.github.com/itsdinkd/184c7178fe5bc9ebb41257727e9dedeb

[2022-03-03 17:00] chronosacaria commented on #98
@itsdinkd Is this the latest version of AQM2 that was released or is this a pre-release?

[2022-03-03 17:08] chronosacaria commented on #98
I also need full crash reports so that I can see versions of the mods you are using. Having the stacktrace is useful for determining _what_ is going on, but in a situation like this, where something is conflicting, without knowing what is in there, I can't really do anything about it

[2022-03-03 17:38] #98 closed, assigned to chronosacaria, Kluzzio

[2022-03-05 04:07] SpaghettiCoder4951 opened #99 "Glaive crashing aternos server"
What the bug is doing is after having the latest version of Mc dungeons weapons for 1.18.1 my friend looked in the sky hit with the glaive in the sky then hit the ground and crashed the entire server but when I did it nothing was wrong

Steps to reproduce the behavior:
1. Get a glaive
2. Look up at the sky and attack
3. Look down at the floor and attack
4. Crashes entire server

**Please complete

[2022-03-05 04:14] chronosacaria commented on #99
Could you provide the crash report please? Without it I can't actually tell what is wrong. I will try to reproduce the issue tomorrow, however, either way

[2022-03-05 14:51] SpaghettiCoder4951 commented on #99
There is no crash report, it crashes the entire server that is it I will send all the mods used in the server though

[2022-03-05 14:53] SpaghettiCoder4951 commented on #99
![image](https://user-images.githubusercontent.com/100983825/156888540-955af955-7b61-4abe-8e6b-d184170670b5.png)

[2022-03-05 14:53] SpaghettiCoder4951 commented on #99
![image](https://user-images.githubusercontent.com/100983825/156888554-f3b9ede9-341c-4270-b563-a740148977a8.png)

[2022-03-05 14:58] SpaghettiCoder4951 commented on #99
Also let me add, that my friend was able to hit mobs no problem but I think its when hitting a block is what is causing the issue

[2022-03-05 15:54] N0obitty commented on #99
Umm hello, got the same issue with the following error in the aternos logs

[23:43:37] [Server thread/ERROR]: Encountered an unexpected exception
--
401 | java.lang.NoSuchFieldError: field_15503
402 | at chronosacaria.mcdw.bases.McdwGlaive.method_7865(McdwGlaive.java:90) ~[mcdw-4.2.2.jar:?]
403 | at net.minecraft.class_1799.method_7924(class_1799.java:248) ~[server-intermediary.jar:?]
404 | at net

[2022-03-05 18:59] Kluzzio commented on #99
Will take effect next release, until then, avoid hitting grass with whips, glaives, staves, and spears as those all cause crash unless you update to 1.18.2.

[2022-03-05 18:59] #99 closed, assigned to chronosacaria, Kluzzio

[2022-03-06 14:45] verlixis opened #100 "Enchantment Layer Bugged on Winter's Touch"
Winter's Touch appears to have its enchant layer bugged. (as you can see in the picture part of the coal is glowing).
![image](https://user-images.githubusercontent.com/79554816/156928165-f1ea88ea-2f7c-434e-b709-c18ee8493ce2.png)

Versions:
Minecraft 1.18.1 (Fabric Loader 0.13.3)
MCDW 4.2.3

[2022-03-06 20:43] Kluzzio commented on #100
This issue does not appear to be exclusive to the Winter's Touch. Thanks for catching this

[2022-03-06 20:45] Kluzzio commented on #100
This seems to be an issue exclusive to weapons that have innate enchantments. Somehow though, it also happens with the Bee stinger weapon

[2022-03-07 12:56] Dr-WeiAL opened #101 "Vanilla bow fires two arrows"
**Describe the bug**
Subsequent shots after the vanilla bow hits the target will fire two arrows

**To Reproduce**
Steps to reproduce the behavior:
1. Shoot the target with a bow
2. shoot the target again
4. See error

**Expected behavior**
make it normal

**Screenshots**
![image](https://user-images.githubusercontent.com/47446553/157038535-3fadc3b6-3be4-43c2-8cff-04cf4fed6ba5.png)

**Please compl

[2022-03-07 12:58] chronosacaria commented on #101
@Dr-WeiAL Thanks for this issue report! You mention "see error", is there an actual error that you get along with the extra arrow that points to anything in particular that might help us narrow down what is happening?

[2022-03-07 13:01] Dr-WeiAL commented on #101
This problem occurs when attacking any target, the bow is not enchanted, only this mod and modmenu are installed, is there anything else to add?
[latest.log](https://github.com/chronosacaria/MCDungeonsWeapons/files/8197857/latest.log)

[2022-03-07 13:05] chronosacaria commented on #101
That's perfect! Thank you so much. We'll take a look at this today

[2022-03-07 22:03] #101 closed, assigned to chronosacaria, Kluzzio

[2022-03-07 22:28] Kluzzio commented on #100
There seems to be no discernable pattern on the weapons that do and the weapons that don't.
The following do have this issue:
![image](https://user-images.githubusercontent.com/96443090/157128549-1e5b682d-c11b-4132-9408-3c50fb8c79d0.png)
While these ones don't:
![image](https://user-images.githubusercontent.com/96443090/157128596-aaef2075-be2f-449d-bf6b-1c317025a0b5.png)

[2022-03-08 06:25] verlixis commented on #100
It's most likely a texture problem. Probably oversized transparent areas are included as an enchantment layer.

[2022-03-08 08:08] Kluzzio commented on #100
You are more than likely correct. As you might imagine, this will take some amount of time to correct so we will leave this issue open until we do correct it. I'll also make note here if any other factors are at play if I discover them. Again, thanks for finding this!

[2022-03-19 12:49] TheSkeletonAppears opened #102 "Dual Wield Spam"
**Describe the bug**
This occurs when you have a dual wield weapon like The Beginning and The End if you hold down right click the weapon in the off hand slot will spam this is really bad with the enigma resonator

**To Reproduce**
Steps to reproduce the behavior:
1. Go get a dual wield weapon like The Beginning and The End
2. Click on RMB
3. Scroll down to '....'
4. See error

**Expected behavior

[2022-03-22 17:39] Kluzzio commented on #102
This is a known issue. Thank you for reporting it. We will be revisiting the entire dual wielding implementation so we will take this into account when doing so and hopefully be able to implement this feature.

[2022-03-26 01:44] EigentlicherVogel opened #103 "Most Ranged Enchantments Does Not Function with Crossbows"
- Versions:

Minecraft 1.18.2
Fabric 0.13.3
MCDW 4.2.5

- Other mods:

Mmm...mM(Training Dummy Mod) 1.5.1
Sodium 0.4.1+build15

- Description:

A sizable part of ranged enchantments, despite being enchantable to crossbows via normal enchantment and some innate to certain crossbows, does not function on crossbows despite working on bows normally.

 - Reproduction:

0. (optional) Use config to chang

[2022-03-26 02:01] EigentlicherVogel opened #104 "Bow Innate Enchantment and Additional Enchantment Not Stacking Properly"
- Versions:
Minecraft 1.18.2
Fabric 0.13.3
MCDW 4.2.5

- Other mods:
Mmm...mM(Training Dummy Mod) 1.5.1
Sodium 0.4.1+build15

- Description:
Bows with Innate enchantments can be further enchanted with either the table or the anvil, including being enchanted with the same enchantment as the Innate one, but at higher levels. If the stacking of identical enchantments happen, then the bow will use the

[2022-03-26 08:25] Kluzzio commented on #103
In my testing with our dev environment I quickly discovered that chain reaction DOES indeed work on crossbows. Though quite hilariously, it does not seem to be at all close to what the enchantment is intended to do.
I will continue testing but just wanted to share that, if you look closely, additional arrows do indeed spawn (albeit at mach 5 in the perpendicular directions).

[2022-03-26 08:45] Kluzzio commented on #103
Gravity works as intended with crossbows. It pulls nearby mobs toward the hit target.
Likewise the following worked in my testing:
Fuse Shot, Radiance, Ricochet, Cobweb Shot, Levitation Shot, Poison Cloud

These work but need revisiting bc they are janky:
~~Chain Reaction, Bonus Shot~~ (Edit: Not Janky. Just am dumb. They work as intended)

These tests were only done with crossbows, not bows. Some

[2022-03-27 01:07] EigentlicherVogel commented on #103
Are these changes on Github yet?

Edit: Downloaded and compiled mod from source. Crossbow enchantments does indeed work. Maybe a new version push to curseforge is warranted? Either way closing the issue I guess. Thanks for your work again.

[2022-03-27 01:17] #103 closed, assigned to nobody

[2022-03-27 02:53] Kluzzio commented on #103
@EigentlicherVogel We're going to try to take a look at and fix the other issues (Edit: you brought up) before pushing to CurseForge but yea. The current state was meant to be in the last push but a miscommunication forgoed it. And thank you for your testing once again

[2022-03-27 19:04] kattmaniak opened #105 "Radiance enchantment healing non-allied players"
Players not on my team are healed by the radiance cloud

    OS: Windows 10
    Launcher: Microsoft Minecraft Launcher (launched from Curseforge app)
    Mod Version: mcdw-4.2.3
    Are you using a Modpack? Yes, OriginsSMP by LevyTrotsky on Curseforge

[2022-03-28 11:01] chronosacaria opened #106 "Default Loot System, from looking at code, does not appear to be working"
**Describe the bug**
Judging from the code from the [McdwNewLoottables.java](https://github.com/chronosacaria/MCDungeonsWeapons/blob/1.18/src/main/java/chronosacaria/mcdw/loottables/McdwNewLoottables.java) class, it does not appear that anything from the default loot tables would be generating. This is something that needs to be checked and corrected if it isn't working.

**To Reproduce**
Steps to

[2022-03-29 17:03] Mophise opened #107 "Refreshment doesn't seem to do anything"
I've been running around with Refreshment on my sword and empty bottles in my in inventory for a long time now, and still haven't gotten any health potions out of it. Currently playing the "Another Quality Modpack 2"

[2022-03-30 00:26] Kluzzio commented on #107
I believe that refreshment requires you to have bottles in stacks of one and in order for refreshment to trigger, you must kill the enemy. Can you confirm whether this knowledge lets it proc for you? Thanks! In the future it is entirely possible that we may make it so that the bottles do not have to be in stacks of one.

[2022-03-30 13:34] Kluzzio commented on #104
This issue ~~seems to be~~ is with enchant giver as a whole ~~, although we may be missing something~~. This issue is not exclusive to bow enchantments nor is it exclusive to vanilla enchantments. ~~It is entirely possible that this has become an issue in 1.18.2 due to the seemingly endless tag issues.~~ Thank you for your vigilance in finding this! We will work to find a solution but it is entire

[2022-03-30 13:40] Kluzzio commented on #106
Default Loot Table settings have weapons in chests. Only if this is disabled is there no way to get the uncraftable weapons. Therefore, this is a non-issue.

[2022-03-30 13:40] #106 closed, assigned to chronosacaria, Kluzzio

[2022-03-30 13:49] Kluzzio commented on #95
After some consideration, we have decided that this is not something that we will implement. The reasons for this decision are that the situation in which this would be used are incredibly niche, it is reasonably difficult to implement, and it would bloat the size of MCDW unnecessarily. Considering that the majority of servers make decisions on enchantments at the creation and have no interest in

[2022-03-30 13:49] #95 closed, assigned to chronosacaria, Kluzzio

[2022-03-30 17:40] #105 closed, assigned to nobody

[2022-04-01 23:09] chronosacaria opened #108 "Due to new Backslot setup, some MCDW Weapons don't scale properly in either back or side slot"
**Describe the bug**
Some MCDW weapons are massive in either the side or back slot with MCDW and Backslot installed

**To Reproduce**
Steps to reproduce the behavior:
1. Install MCDW + Backslot
2. Equip weapon in back or side slot
3. Giggle as player, cry as MCDW dev because JSON is evil

**Expected behavior**
Weapons should scale properly regardless of slot

**Please complete the following inform

[2022-04-02 16:58] Kluzzio commented on #104
Fix submitted for PR: https://github.com/LordDeatHunter/EnchantGiver/pull/6
in this commit: https://github.com/LordDeatHunter/EnchantGiver/pull/6/commits/149ce8019bcaac5dafd0dc9160cceb47486d10c7
Time for pray

[2022-04-08 04:25] karlschmidt66 opened #109 "Some weapons have repair items that don't add durability"
Tried to repair sun's grace using a diamond. Anvil accepts the diamond as an item for repair and assigns a number of levels to repair it but does not increase the durability of the weapon.

Steps to reproduce.
Put a used sun's grace on an anvil with a diamond
Pickup repaired sun's grace

Expected behavior
Full repair

Actual behavior
Durability is the same but levels were spent in repair.

OS Wind

[2022-04-08 04:26] chronosacaria commented on #109
I'll take a look at this in the morning, for sure! Thanks for catching this

[2022-04-08 04:36] karlschmidt66 commented on #109
Thanks!

[2022-04-08 15:03] Kluzzio commented on #109
![image](https://user-images.githubusercontent.com/96443090/162468435-e9298a6d-d3dc-41ef-9baa-017d9ed2b58a.png)
There is no issue repairing on my end. A single diamond repairs 390 durability here. Therefore, this is a mod conflict. Please bring this up with the GamerPotion, who is the dev of your modpack as this is something that is on their end.

[2022-04-08 15:03] #109 closed, assigned to chronosacaria, Kluzzio

[2022-04-08 18:00] Kluzzio commented on #107
Made so that stacked bottles work if there is sufficient space.

[2022-04-08 18:00] #107 closed, assigned to nobody

[2022-04-08 18:03] Kluzzio commented on #104
The old system was abandoned and the switch was mostly made. There are some things that need to be taken care of regarding the maven so that it can work with the mod before this issue is fully resolved. It should only be a matter of time. Once that is done, this issue will be closed and an updated version will be pushed to CurseForge.

[2022-04-08 19:28] Kluzzio commented on #60
Addressed and Potentially fixed in: https://github.com/CafeteriaGuild/DeepMobLearning-Refabricated/pull/98

[2022-04-08 19:28] Kluzzio commented on #60
Prayge for merge

[2022-04-09 16:16] chronosacaria commented on #60
Kluzzio's commit was merged into DML and NathanPB has mentioned putting out a hotfix soon. Once that is out, this issue will be closed :)

[2022-04-09 16:20] chronosacaria commented on #60
Hotfix was apparently released yesterday! Woohoo!
https://github.com/CafeteriaGuild/DeepMobLearning-Refabricated/releases/tag/1.18.2%2B0.5.5-beta

[2022-04-09 16:20] #60 closed, assigned to nobody

[2022-04-11 00:39] Kluzzio commented on #104
About ready to go to curseforge. Soon...

[2022-04-11 00:39] #104 closed, assigned to nobody

[2022-04-16 17:52] milodakat opened #111 ""Critical Hit" Enchantment is too powerful"
The Critical Hit enchantment is broken due to how powerful it is. Even low damage melees can instant kill players with good armour. It needs to be rebalanced.

[2022-04-16 17:54] chronosacaria commented on #111
What version are you on? Are you on a server? Has your server owner tweaked the damage? There is a template for a reason and there is not enough information for me to take anything from this report other than your opinion. Please provide more information, otherwise we cannot do anything with this. Thank you.

[2022-04-17 02:25] IDEZIHREE opened #112 "MC Dungeons Weapons/Armor don't appear in REI like stated"
**Describe the bug**
Downloaded all of REI even mod compatibility workaround to see if that was the issue, MC Dungeons weapons and armor do not appear anywhere.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
Hopefully get information on why the mod does not show thanks

**Screenshots**
If applicable,

[2022-04-17 06:27] Kluzzio commented on #112
Are you able to see the MCDW items in the creative menu?

If no: note that you must have all of the dependencies of the mod, you must have a paid copy of minecraft, and you must be using fabric.

If yes: It would be easier to provide tech support on this issue on the discord. Please join, and let us know when you can best be helped, your preferred language, and if you are comfortable joining vc. T

[2022-04-17 06:34] Kluzzio commented on #111
We will look at making a potential change but yes, please use the template in the future. Your concern is a valid one, but the numbers we use is to stay as true to MC Dungeons as possible. We are potentially open to making the numbers configurable so we will touch base on that.

[2022-04-18 14:01] IDEZIHREE commented on #112
Thank you. I did not see anywhere that you need to use fabric my apologies. You can close this request.

[2022-04-18 14:01] #112 closed, assigned to chronosacaria, Kluzzio

[2022-04-18 22:54] Kluzzio commented on #111
Addressed in https://github.com/chronosacaria/MCDungeonsWeapons/commit/6a7f2f0a0bc0f7558931d371691c8f607cb4c276

[2022-04-18 22:58] Kluzzio commented on #111
No further accommodations will be made without more information. Keep in mind that this mod serves to be vanilla+ and stacking enchantments endlessly on one weapon is not considered in balancing purposes. Nevertheless, an oversight on the implementation of Critical Hit was discovered and corrected. Additionally, a multiplicative stacking of mcdw enchants was changed. We have little to no control o

[2022-04-18 22:58] #111 closed, assigned to chronosacaria, Kluzzio

[2022-04-20 14:26] HacoKavanah opened #113 "All Grave Banes Seem to have disappeared after newest update?"
Literally nothing else to add.

[2022-04-20 14:30] chronosacaria commented on #113
There is a warning on the mod jar, the updates section of the mod page and in Discord stating that because of the new system that you will lose your weapons and to make sure you back up before updating. We did everything to avoid this, but we couldn't prevent it with the new system. That is also why the update is 4.3.0 and not 4.2.6 as the latter would be completely compatible whereas 4.3.0 is not

[2022-04-20 14:30] #113 closed, assigned to chronosacaria, Kluzzio

[2022-04-21 15:01] TheRanker opened #114 "enigma shot enchantment causes crash"
**Describe the bug**
seems mcdw has a bad enchantment .  enigma shot damage.  a raider has one and fired an arrow.

**To Reproduce**
Steps to reproduce the behavior:
get shot by a mob holding bow and arrow with the enigma shot enchantment

**Expected behavior**
not crash

**Screenshots**
NA

**Please complete the following information:**
 - OS:Windows
 - Launcher CF
 - Mod Version4.2.5
 - Are you

[2022-04-21 15:02] chronosacaria commented on #114
I can take a look at this right now. Thanks for the report!

[2022-04-21 15:35] chronosacaria commented on #114
@TheRanker, I cannot reproduce this issue in the latest version, 4.3.0. Please be advised that we have changed the way that enchantments are applied and updating will likely delete any weapons you have. If you find that you are able to reproduce this issue in the latest version, we'll take another look at it, but if not, this issue will be closed in 48 hours

[2022-04-21 15:37] TheRanker commented on #114
ty. will keep it in mind and let the dev know and test once updated.

[2022-04-21 15:49] chronosacaria commented on #114
Sounds like a plan! :D

[2022-04-23 00:20] Maja-dev opened #115 "Skeletons deal too much damage - 1.18.1"
**Describe the bug**
Skeletons deal a lot of damage

**To Reproduce**
Agro any skeleton, they hit you with 5 dmg in Full Netherite, 14 dmg in full Iron set on Normal, 17 on Normal with no armor

**Expected behavior**
Skeletons should deal ~2 dmg when in full iron.

**Video**
Full iron
https://streamable.com/2wi99a

No armor on Normal
https://streamable.com/ds0ue7

**Please complete the following i

[2022-04-23 02:28] Kluzzio commented on #115
This was me, sorry! I even already fixed this issue in https://github.com/chronosacaria/MCDungeonsWeapons/commit/f5f5b961e9d86999c468ea12b1a5f093dc19bbe6

but I did not realize the repercussions of this lack of change. Thanks for finding and reporting this!

[2022-04-23 02:28] #115 closed, assigned to chronosacaria, Kluzzio

[2022-04-23 16:37] xHivex opened #116 "Glitching weapons when enchanted"
While holding a weapon the enchants are glitching out and duplicating the item if throw it and move the item before you pick it back you.

https://user-images.githubusercontent.com/1533447/164915050-c5737616-e82f-4ec9-b1b2-f97faa9bff92.mp4

https://user-images.githubusercontent.com/1533447/164915058-906b29f2-cf74-4072-a908-a4ac42c88c87.mp4

Minecraft: 1.18.1
Fabric Loader: 0.13.3
Mod Version: mcdw

[2022-04-23 16:43] chronosacaria commented on #116
That's a lot of mods! I've not noticed this happen with just MCDW alone, but I will look into this. I suspect, however, that we're looking at some kind of mod conflict

[2022-04-26 14:10] Kluzzio commented on #114
I checked our code and this issue was fixed between 4.2.5 and 4.3.0. There was initially just a cast whereas now there is a check to ensure there is a PlayerEntity doing the damage before accessing the experience.

[2022-04-26 14:10] #114 closed, assigned to chronosacaria, Kluzzio

[2022-04-27 23:13] EEGAR1 opened #117 "Harp Crossbow makes a harp sound when you shoot"

[2022-04-27 23:14] chronosacaria commented on #117
Please provide a proper description of the issue using the template within 12 hours or the issue will be closed. Thank you.

[2022-04-28 08:34] Kluzzio commented on #117
Is this a suggestion? I suppose it does have the enhancement tag. We could look at doing this, it could be fun

[2022-04-29 20:46] #117 closed, assigned to chronosacaria, Kluzzio

[2022-04-29 21:28] milodakat opened #118 "enchant"
**Describe the bug**
Weapons with inbuilt enchantments can be de-enchanted at a grindstone. Some weapons change name colour when enchanted (hammer of gravity) while others stay the same colour (soul fist) These weapons reset their enchantment to default after rejoining the game (whether the item is in item frame or inventory)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Cli

[2022-05-02 11:57] chronosacaria commented on #118
Upon further testing, this is almost definitely being caused by a mod conflict as I cannot reproduce this in an environment with just MCDW. Please work your way through your mods in an A-B fashion until you are able to determine which mod is causing the issue. Thank you

[2022-05-21 21:32] zerevoidd commented on #116
having the same issue

[2022-05-24 15:38] chronosacaria commented on #116
@zerevoidd Could you provide your mod list, please?

[2022-05-24 16:14] jirisek3 opened #119 "Disabling crafts with craft tweaker?"
So me and my friends want to add god weapons for our server but want to disable all the crafts so that the only way someone can get them is by doing a ritual for their god. So I need to disable all the crafting recipe for the weapons and will be thankful for any help

[2022-05-24 16:14] chronosacaria commented on #119
Unless a description is provided in the next hour, this issue will be closed. Thank you.

[2022-05-24 16:15] chronosacaria commented on #119
@jirisek3

[2022-05-24 16:39] zerevoidd commented on #116
how do I do that without picking out and writing down every single mod individually

[2022-05-24 18:21] chronosacaria commented on #119
@jirisek3 This might be something that would be better to ask for help on the Discord as there are others who might make use of CraftTweaker. I am more familiar with KubeJS. I would highly suggest checking out the Discord, which can be found here: [https://discord.gg/ARYuZ4f24h](https://discord.gg/ARYuZ4f24h)

[2022-05-24 19:55] Kluzzio commented on #116
By going to your mods folder and taking screenshots of the mods and putting it here

[2022-05-24 22:41] Kluzzio commented on #119
User referred to Discord. User joined Discord. Huzzah

[2022-05-24 22:41] #119 closed, assigned to nobody

[2022-05-26 00:04] zerevoidd commented on #116
https://pastebin.com/Bs6Cz0J4

[2022-05-30 22:09] SkyleKayma commented on #116
Same problem reproduced here.
Below is my modlist:
https://pastebin.com/0QMR60yd

[2022-06-04 18:01] CarTDC opened #120 "How does the dual wield with soul fist work?"
It doesn't put it in my offhand if its supposed to

[2022-06-04 18:05] chronosacaria commented on #120
@CarTDC Please provide acquitted information as to your question. As best as I can tell, you are simply not putting the Soul Fist into your offhand. Should there not be further clarification on this issue within an hour, this issue shall be closed.

[2022-06-04 18:06] CarTDC commented on #120
I crafted 2 soul fist and put one in my main hand and one in my offhand am I supposed to do that

[2022-06-04 18:09] CarTDC commented on #120
I thought it would automatically put a soul fist in both hands when equipped

[2022-06-04 18:21] chronosacaria commented on #120
Ah, yeah, no. You need to manually equip both. You can technically equip _any_ two dual wield weapons, though there is a bug that we are working on fixing so I would not suggest mixing and matching at this time. Thanks for quickly responding.

As this question has been answered, I shall close this issue.

[2022-06-04 18:21] #120 closed, assigned to chronosacaria, Kluzzio

[2022-06-06 11:52] TheButterbrotMan opened #121 "Ticking Entity"
**Describe the bug**
Server crashes randomly, and is unable to start again after that.

**Please complete the following information:**
 - OS: [Linux (Server?)]
 - Launcher [Curseforge]
 - Mod Version [4.3.2]
 - Are you using a Modpack? [Yes, Deathdusk]

**Additional context**
https://bytebin.lucko.me/HTjEcNn9Hb
https://bytebin.lucko.me/WG3jhE03vq

[2022-06-06 11:56] chronosacaria commented on #121
This isn't enough information to go on. What were you doing when the server crashed? There doesn't appear to be any MCDW enchantments on the arrow so I am confused as to why you thought it was us? Is there something I'm missing here?

[2022-06-06 11:59] chronosacaria commented on #121
It would also appear that the updated log you provided relates to tridents, which we don't even touch. It would seem to me that there is something else going on

[2022-06-06 12:01] TheButterbrotMan commented on #121
Any idea how i could figure out then what is touching the tridents?

[2022-06-06 12:02] TheButterbrotMan commented on #121
I dont have more, i just waked up and had thousands of this logs inside my crashreports folder. So i did just go by luck and opened a issue here.

[2022-06-06 12:58] Kluzzio commented on #121
Well it's a class cast exception, but I looked at instances of our code relating to PPE's and we shouldn't be causing any issue here. I also tested it with 100% proc rate on our enchants and nothing crashed.

You are dealing with a mod for some reason having an empty list that java can't recognize as empty that is referenced in trying to find the 0th element at the OnEntityHit method.

To find out

[2022-06-06 20:21] chronosacaria commented on #116
@xHivex @SkyleKayma @zerevoidd Would any of y'all be able to hop into the Discord and help test a branch that might resolve this issue? https://discord.gg/J9GGuh6eyq

[2022-06-06 20:38] zerevoidd commented on #116
my discord is zere#8486, i am already in the discord

[2022-06-08 12:44] Kluzzio commented on #121
Well, since there is nothing that supports that this would be us, this issue will be closed. Best of luck in finding out what happened though.

[2022-06-08 12:44] #121 closed, assigned to chronosacaria, Kluzzio

[2022-06-10 08:04] ardissaps opened #122 "No Bow Zooming Animation like Vanilla Bow"
**Describe the bug**
Bow does not zoom while string pulled  (click hold)

**To Reproduce**
Pull the bow (click hold), compare with vanilla bow

**Expected behavior**
Camera slightly zoomed

**Please complete the following information:**
 - Windows
 - AT Launcer
- Fabric

[2022-06-12 17:36] #122 closed, assigned to chronosacaria, Kluzzio

[2022-06-12 17:46] #116 closed, assigned to chronosacaria, Kluzzio

[2022-06-12 17:47] #118 closed, assigned to chronosacaria, Kluzzio

[2022-06-20 13:55] SpaceDragon00 opened #124 "Refreshment Crashes Game By Passing -1 As An Index To An Array"
**Describe the bug**
![image](https://user-images.githubusercontent.com/83368538/174615665-e2a0fc0a-6152-4016-99af-88cc49a976b7.png)
Trace of methods:
- Living entity onDeath() method is called
- MCDW applyRefreshment() method is called
- MCDW systematicReplacePotions() method is called
- getStack is called on the player inventory
- DefaultedList get() method is called
- Index out of bounds error

[2022-06-20 14:00] chronosacaria commented on #124
Thanks for this crash report. Please keep in mind that we only develop for the latest version of Minecraft so any bug fixes will likely only be released for 1.19. Would you also mind provided a little bit of context as to what you were doing when it happened? It will help us in trying to recreate the issue.

[2022-06-20 16:06] SpaceDragon00 commented on #124
Sure thing, I only learned just recently since it happened to another player; I'm just the only person on the server who knows about code. It's entirely possible this bug isn't the fault of your mod, as it resulted from one of the players killing mobs with the "Sniper Sword" from Gobber, which bafflingly transfers its melee weapon enchantments to the arrows it fires. If you can't find anything wro

[2022-06-20 16:10] SpaceDragon00 commented on #124
To clarify: The user was killing enemies with a Sniper Sword with the Refreshing enchant, which I imagine causes issues since it is deliberately separated from the Refreshment Shot enchant

[2022-06-20 17:20] chronosacaria commented on #124
Ah, okay. Thanks for those details! We can definitely take a look at that :D

[2022-06-20 17:53] chronosacaria commented on #124
Hey @SpaceDragon00! I tested Gobber2 with the latest version of MCDW (4.4.0) on 1.18.2 and 1.19 and I cannot reproduce the crash. It is possible that there were a number of other enchantments that were on the sword that were causing the issue as nothing was changed with respect to the code for `Refreshment` between versions. However, if you would like to try updating to 4.4.0 to see if your issue

[2022-06-23 12:30] chronosacaria commented on #124
So, it turns out that a bug was found in the Refreshment code, but it doesn't appear that it would have caused this issue. Returning a value of -1 would indicate that an inventory wasn't found, which makes me think that something might happening with a mod conflict, especially since the arrow is ticking. I'm going to close this issue, for now, since we've been unable to reproduce it.

Thanks for h

[2022-06-23 12:30] #124 closed, assigned to chronosacaria, Kluzzio

[2022-06-25 17:29] I5268 opened #125 "[Feature Request]"
**Is your feature request related to a problem? Please describe.**
there are too many enchants and it is too hard to keep track of what goes on what

**Describe the solution you'd like**
i woold like some sort of guide book that hase different sections for example one that is all about the different types of bows and what they all actually do the amout of damage that they do, the enchants that are

[2022-06-25 17:30] chronosacaria commented on #125
@I5268, please edit this issue so that it is using the template properly. That way it is easier to read rather than that long title.

[2022-06-25 17:32] I5268 commented on #125
sorry first time using github

[2022-06-25 17:42] I5268 commented on #125
@chronosacaria  i belive i have done what you asked

[2022-06-25 17:57] chronosacaria commented on #125
That's fantastic! Thank you, so much!

[2022-06-25 18:08] I5268 commented on #125
dose that meen that you will add it?

[2022-06-26 17:49] chronosacaria commented on #125
@I5268 Since you have closed this issue, we shall take this to mean that this is no longer a requested feature. Please note that just because a request is made, it does not mean that it will be added. That is why it is called a "request"

[2022-06-27 15:00] MoshSD opened #126 "Make Webshot not spawn string"
**Describe the bug**
webshot spawns cobweb that drops string

**To Reproduce**
Steps to reproduce the behavior:
get bow with webshot
shoot floor
mine with sword
profit

**Expected behavior**
free string infinite

**Screenshots**
N/A

**Please complete the following information:**
 - OS: Windows
 - Launcher Default
 - Mod Version 4.4.0
 - Are you using a yes?  Custom.

**Additional context**
Copy p

[2022-06-27 17:48] #92 closed, assigned to chronosacaria, Kluzzio

[2022-06-29 21:41] I5268 commented on #125
it is still a request :)

[2022-07-04 23:17] notdynae opened #127 "Dipping Poison Enchantment Broken"
Dipping Poison III enchantment is broken, does not function

Steps to reproduce the behavior:
1. Add dipping poison III to bow
2. hold bow in offhand
3. drink health potion
4. See error

8 poison arrows added to inventory

**Please complete the following information:**
 - Windows
 - Default
 - Mod Version [e.g. 4.4.0]
 - Yes / No [broken in aqmp2 and outside of modpack]

[2022-07-04 23:46] chronosacaria commented on #127
See https://github.com/chronosacaria/MCDungeonsWeapons/commit/f258db22461273d70c215fc9c8a026bd04003cd9 for code context.

Dipping Poison does work, but I just realised how awkward it is to use. You need to have the bow with the enchantment in your main hand and the potion in your offhand and drink the potion, which means that there needs to be no arrows in your inventory, otherwise the bow will tr

[2022-07-10 16:59] chronosacaria commented on #127
Changed Dipping Poison to function by holding bow in offhand and drinking potion with main hand to allow for it to work with arrows in inventory (https://github.com/chronosacaria/MCDungeonsWeapons/commit/4b977d2578fcadfc851ca9d3c485befe2968d43e)

[2022-07-10 16:59] #127 closed, assigned to chronosacaria, Kluzzio

[2022-07-24 18:58] Sikelone opened #129 "Huge weapons with Backslot"
When using the Backslot mod and putting weapons in one of your extra slots, it just grows to huge sizes as shown underneath
![2022-07-24_20 58 23](https://user-images.githubusercontent.com/76126309/180661912-38ed447b-bb4a-4525-b866-54c85fb51964.png)
![2022-07-24_20 58 25](https://user-images.githubusercontent.com/76126309/180661914-ed564bae-1ba7-41ed-806f-51f49e362faf.png)

[2022-07-25 13:35] Kluzzio opened #131 "Ricochet Causes Mobs to Aggro on each other"
**Describe the bug**
Mobs will aggro on the mob that was the original entity that was hit by the ricocheting arrow.

**To Reproduce**
Steps to reproduce the behavior:
1. Shoot mob A
2. Mob B gets hit by ricochet arrow
3. Mob B aggros on mob A

**Expected behavior**
Both mobs should treat the player as the one who dealt the damage to them or just the original mob hit.

**Please complete the followi

[2022-07-25 13:37] Kluzzio commented on #125
Enchants are now described in the wiki thanks to pizzaspren. As such this issue will now be closed as we will not in the foreseeable future be adding an in game item that gives descriptions as you have described.

[2022-07-25 13:37] #125 closed, assigned to chronosacaria, Kluzzio

[2022-07-25 13:38] Kluzzio commented on #129
Because this is a known issue that is a duplicate of an open issue, this will be closed. But thank you for reporting it.

[2022-07-25 13:38] #129 closed, assigned to chronosacaria, Kluzzio

[2022-07-25 13:43] Kluzzio commented on #102
We are integrating Better Combat into MCDW for our 1.18 and our 1.19 branch. Part of this involves removing the dual wielding feature as it is now. We may re introduce it for if the user wishes not to have Better Combat in their mods. In the case that Better Combat is used though, the dual wielding will not be spammable.

[2022-07-25 15:40] #131 closed, assigned to chronosacaria, Kluzzio

[2022-07-26 13:45] Kluzzio commented on #126
Done here: https://github.com/chronosacaria/MCDungeonsWeapons/commit/dec147b053a499e6eb771d2f1b8cd627f87449c9

Won't implement in main branch though, at least for now.

[2022-07-26 13:45] #126 closed, assigned to chronosacaria, Kluzzio

[2022-07-28 16:42] zombieowo opened #133 "how can i use the translation"
I don't know how to switch languages

[2022-07-28 16:46] chronosacaria commented on #133
This is less of an MCDW question and more of a general Minecraft question. Generally, these would be better handled in the Discord. However, depending on the language your game is already in it will obviously change the words used for the buttons, but, you go to Options -> Language and then select the language you want.

Keep in mind that the only complete translations for MCDW are English and Sim

[2022-07-28 16:46] #133 closed, assigned to nobody

[2022-08-02 21:49] #108 closed, assigned to chronosacaria, Kluzzio

[2022-08-08 01:21] AnomalousDeity opened #134 "[Feature Request] Animated whips?"
**Is your feature request related to a problem? Please describe.**
not really a problem just a little weird

**Describe the solution you'd like**
when used in combat have the whip animate outwards rather than be stiff

**Describe alternatives you've considered**
alternatives? well a 3d model but that wouldn't fit with the rest of the weapon set now would it?

**Additional context**
nothing more to

[2022-08-08 02:03] chronosacaria commented on #134
This is definitely something that I'd love to figure out how to do. Just not sure how it would be done

[2022-08-08 03:43] JTModel3 opened #135 "A way to turn off crafting recipes [Feature Request]"
**Is your feature request related to a problem? Please describe.**
I would like to use these weapons as 'God weapons' on my server but I would like to be able to remove there crafting recipes.

[2022-08-10 06:01] verlixis commented on #134
Since the mod is in the process of integration with Better Combat, I'd suggest forwarding this to the Better Combat repository. Maybe they can think of something to work with.

[2022-08-10 06:43] chronosacaria commented on #134
@verlixis The issue would still come down to us have either an animated texture or something similar to the pulling states of bows and crossbows. That's not really something that Daedelus can implement on their end, necessarily

[2022-08-10 08:04] verlixis commented on #100
Found a way to fix them. I'll keep working on it as a separate temporary resource-pack.

[2022-08-10 17:15] AnomalousDeity commented on #134
my guess would be through blender but that isnt easy to learn first hand either
but if it cant be done it cant be done, yet at least.
though well worth asking tho!

[2022-08-11 17:01] chronosacaria commented on #135
@JoiningToast We are considering a way to possibly do this, but this is also possible using KubeJS. If you need help setting that up, I highly encourage you to stop by the Discord and we can help you get set up with that

[2022-08-15 08:47] LILPRINCES opened #139 "I tried to modify the config file of the enchant giver, but every time I restart the game, he will reset to the original settings."
No other mod are loaded

cloth-config-6.2.62-fabric
mcdw-4.4.1
fabric-api-0.58.0+1.18.2

[2022-08-15 09:05] Kluzzio commented on #139
You are correct, this is an issue we fixed in a previous version and then forgot to restore when we switched from force enchants back to enchant giver. As such, this issue will be resolved in the next release.

[2022-08-15 09:05] #139 closed, assigned to chronosacaria, Kluzzio

[2022-08-16 19:47] Kluzzio commented on #135
Because the expected way to do this is KubeJS, this will not be worked on.

[2022-08-16 19:47] #135 closed, assigned to chronosacaria, Kluzzio

[2022-08-17 22:51] #102 closed, assigned to chronosacaria, Kluzzio

[2022-08-17 22:52] Kluzzio commented on #102
The fallback for Better Combat has working antispam so we gucci

[2022-08-20 01:55] DanniX01 opened #143 "Bag of souls enchantment multiply exp collected after dying"
**Describe the bug**
When using this alongside Universal Graves mod the effect of this enchantment is applied to the exp collected by the gravestone, multiplying the original Exp. Not sure if it happens with other gravestones mods.

**To Reproduce**
Steps to reproduce the behavior:
1. Have an armour enchanted with Bag of Souls.
2. Have Universal Graves mod installed.
3. Die.
4. Collect items from

[2022-08-20 01:56] chronosacaria commented on #143
🤔 That's definitely an interesting issue. We'll take a look at this. Thanks

[2022-08-20 01:57] chronosacaria commented on #143
@DanniX01 Please reopen this issue in MCDA. Soul Devourer is from MCDW, Bag of Souls is from MCDA

[2022-08-25 19:11] CountSjorn52 opened #145 "Crossbow Mix up"
While testing the crossbows in MCDW i noticed that while the normal crossbow is being held forward when loaded but the other crossbows in the mod are held down regardless if they're loaded or not, this is seen in 3rd person mode. Just needs some tweaks.

[2022-08-25 19:12] Kluzzio opened #146 "Crossbow Hold Posing is non functional for MCDW crossbows in 3rd person"
**Describe the bug**
The crossbow being held forward rather than down is not occuring with mcdw crossbows.

**To Reproduce**
Steps to reproduce the behavior:
1. Spawn any mcdw crossbow.
2. Hit F5 to enter 3rd person.
3. Charge the crossbow.
4. Observe crossbow pointing down

**Expected behavior**
Crossbow should be held in front of face same as vanilla

**Screenshots**
![image](https://user-images

[2022-08-25 19:15] Kluzzio commented on #145
I made a more detailed account of this issue in #146

[2022-08-25 19:15] #145 closed, assigned to chronosacaria, Kluzzio

[2022-08-25 19:40] Kluzzio commented on #143
After some discussion, this is intended behavior on our end. The graves drop xp orbs so it makes sense that the xp multiplication effects should multiply it. We may bring this up with mentioned grave mod but this will not be worked on from our end.

[2022-08-25 19:52] Kluzzio commented on #146
BipedEntityModel calls this in a switch statement in its positionLeftArm() method. Where any of this actual logic is done? Who knows

[2022-08-25 21:36] DanniX01 commented on #143
Sorry I got confused. Next time I will make sure to look at the correct mod name.

I see. I fixed the issue using an option in the mentioned graves mod that uses an alternative orb item for the xp stored in the grave so it won't apply the enchantment effect.

Thanks for replying, despite I opened the issue here!

[2022-08-25 21:37] #143 closed, assigned to chronosacaria, Kluzzio

[2022-08-28 00:01] Rastamen15 opened #148 "Registry Remapping Failed"
My friends get this error when joining our server even though they have the same mod-packs as I. I have no problem joining the server. I made sure everyone has the mod, and that it was the right version.
![Screenshot_4](https://user-images.githubusercontent.com/112289356/187051945-8d177926-0d03-48b2-95c8-391439597495.png)

[2022-08-28 01:32] #148 closed, assigned to nobody

[2022-08-28 01:33] Rastamen15 commented on #148
Figured out one of the config files were showing false for the other people.

[2022-08-28 09:40] Chronolegionnaire opened #149 "[Feature Request] Config option to disable crafting"
**Is your feature request related to a problem? Please describe.**
It would be great to be able to only obtain these weapons (and armors from your other mods) through exploring and looting rather than crafting for an rpg server.

**Describe the solution you'd like**
A config option to disable crafting,

**Describe alternatives you've considered**
Can be achieved with kubejs but would be a lot of s

[2022-08-28 22:16] chronosacaria commented on #149
@Chronolegionnaire As you mentioned in your post, this is able to be handled via KubeJS. As such, we are not inclined to add this as a feature, especially since Modpack makers tend to lean towards KubeJS and it would require us to completely rewrite how our recipes are handled.

That being said, here is the script to remove all of the recipes. This will work with the 5.0.0 release that is coming o

[2022-08-28 22:16] #149 closed, assigned to chronosacaria, Kluzzio

[2022-08-29 13:06] CountSjorn52 opened #150 "Oversized Shields"
**Describe the bug**
When the royal guard shield or vanguard shield is holstered by using backslot addon they're significantly larger then they should be
Making it look kinda ridiculous almost as if they're greatshields but they're not.

**Screenshots**

![2022-08-29_08 53 06](https://user-images.githubusercontent.com/93433681/187207654-cd97c9ff-2600-42d5-92d4-473a78d15989.png)
![2022-08-29_08 53

[2022-08-29 13:11] chronosacaria commented on #150
Oh dear lol, yeah that's a bit big

[2022-08-29 14:37] chronosacaria commented on #150
Fixed with the following commits:
1.19.x
https://github.com/chronosacaria/MCDungeonsWeapons/commit/f4e140c26b0581429888bd39c5784fe6ba5f2f3a
https://github.com/chronosacaria/MCDungeonsWeapons/commit/03f7a5c152f3aa8204aee636668ef4cbba009a9f

1.18.x
https://github.com/chronosacaria/MCDungeonsWeapons/commit/d4114808aa60faad2fd480e943cd65a2654708e8

[2022-08-29 14:37] #150 closed, assigned to chronosacaria, Kluzzio

[2022-08-30 13:30] BluStryx8 opened #151 "Game crashes if an arrow shot from Nautilus Crossbow touches water"
Upon shooting an arrow into water with the Nautilus Crossbow, the game will immediately crash. Attempting to reload the world will also result in an immediate crash when the world loads. Error message is as follows:
"""
The game crashed whilst ticking entity
Error: java.lang.NullPointerException: Cannot invoke "java.lang.Float.floatValue()" because the return value of "org.spongepowered.asm.mixin.

[2022-08-30 13:38] chronosacaria commented on #151
Thank you for bringing this to our attention

[2022-08-30 13:59] BluStryx8 opened #152 "Most shortbows held in left hand face the wrong direction"
**Describe the bug**
"Mechanical Shortbow", "The Purple Storm", and "Shortbow" weapons face left, instead of right, when drawing an arrow with them when they are held in the left hand.

**To Reproduce**
Steps to reproduce the behavior:
1. Place any of the three shortbows listed into your left hand. It does not matter if you set skin customisation to have a main left hand, or you are using the offh

[2022-08-30 14:09] BluStryx8 commented on #152
Tested with MCDW alone, issue persists.

[2022-08-30 14:28] chronosacaria commented on #152
Oh wow, that's weird. Thanks again! You finding this issues is a tremendous aid!

[2022-08-30 14:33] BluStryx8 opened #153 "Crossbow rendering issues when loading"
**Describe the bug**
When loading any crossbow, the crossbow shrinks upon charging to max (when releasing right click would load an arrow into the crossbow).
However, the Nautical Crossbow and Harpoon Crossbow disappear while loading, only reappearing when charging to max.

**To Reproduce**
Steps to reproduce the behavior:
1. Take any crossbow.
2. Hold right click to load.
3. When at max charge, t

[2022-08-30 14:34] chronosacaria commented on #153
Mate, you're awesome! Keep 'em coming! This is phenomenal feedback! Thank you!

[2022-08-30 19:40] #146 closed, assigned to chronosacaria, Kluzzio

[2022-08-30 19:42] #151 closed, assigned to chronosacaria, Kluzzio

[2022-08-30 19:45] #152 closed, assigned to chronosacaria, Kluzzio

[2022-08-31 05:21] Lahiox opened #154 "Crash when I try to enchant any bow"
Crash when I try to enchant any bow in Anvil.
Version: mcdw-5.0.3-1.19
Attached is the text of the crash.
[crash-2022-08-30_22.55.30-client.txt](https://github.com/chronosacaria/MCDungeonsWeapons/files/9458628/crash-2022-08-30_22.55.30-client.txt)

Thanks.

[2022-08-31 11:53] chronosacaria commented on #154
@Lahiox You just need to delete your configs in the mcdw folder and let them regenerate and it will fix the issue

[2022-08-31 11:54] #154 closed, assigned to chronosacaria, Kluzzio

[2022-09-01 10:02] CharlieFoxtrotAlpha opened #155 "Repairing Dungeon weapons crashes and deletes items"
**Describe the bug**
The game crashes and I receive "array is null" error when trying to repair weapons on an anvil

**To Reproduce**
Steps to reproduce the behavior:
1. Take a damaged MC Dungeons Weapon
2. Insert weapon into the first slot
3. Place item intended to repair the weapon (iron, diamond, bow etc.)
4. Game crashes and see error

**Expected behavior**
Once I place the appropriate items,

[2022-09-01 13:25] chronosacaria commented on #155
@CharlieFoxtrotAlpha Delete your configs in the mcdw folder and let them regenerate and that will solve your issue. :)

[2022-09-01 13:26] #155 closed, assigned to chronosacaria, Kluzzio

[2022-09-02 11:40] DaFuqs commented on #153
HeldItemRenderer has lots of Bow and Crossbow methods hardcoded. Unmojanking this is possible, but pain

[2022-09-02 13:38] DaFuqs commented on #153
After [way more mixin than I am comfortable with](https://github.com/DaFuqs/Spectrum/commit/9305ddb5041a3bab5c53a64e70ae7ec7c5809418) I got bow and crossbow animations working flawlessly.

While I was at it, I also added some useful attributes to bows and crossbows. Maybe those are interesting for you, too. I could make a small lib out of them, if there is interest.

Bow Attributes:
https://github

[2022-09-02 13:41] DaFuqs commented on #153
(alternatively feel free to steal those. Since it's not using any redirects all mods should be perfectly compatible 👌)

[2022-09-02 23:35] Developer2704 opened #156 "[Feature Request]"
Animate the flail so it drags around and the chain moves just like in mc dungeons

[2022-09-02 23:35] chronosacaria commented on #156
This is something that we'd love to do, but we would need some help in doing it. Do you have any ideas?

[2022-09-03 03:03] Developer2704 commented on #156
There are some open source rendering and animation apis on curseforge and GitHub that you could use to animate the flail and whip

[2022-09-05 16:31] chronosacaria commented on #156
@Developer2704 Oh? That's awesome. Do you happen to know the names of any of them?

[2022-09-05 16:32] purejosh opened #157 "[Feature Request] Add configs for healing enchantments"
**Is your feature request related to a problem? Please describe.**
In servers that use harder than vanilla difficulties, having overpowered healing enchantments can be unbalanced.

**Describe the solution you'd like**
Adding a factor in the config file, to give us finite control over the healing per _____ that takes place during enchantments that heal, such as Anima Conduit and Leeching.

**Descri

[2022-09-08 06:18] LILPRINCES opened #158 "Ecchang giver get conflict enchantments"
I found a problem. Enchant giver can get conflict enchantments on the enchantment table, just like harp crossbow can get penetrating with multiple shots, but it can't do this on the anvil. I don't know if this is a bug or a deliberate design. If it is a deliberate design, can you add a configuration so that it doesn't do much.

verison: mcdw-5.0.3-1.18
             fabric-api-0.58.0+1.18.2

![ench

[2022-09-08 06:20] chronosacaria commented on #158
Thanks for the heads up about this. I'll take a look at it in the morning :)

[2022-09-08 06:24] LILPRINCES commented on #158
Sorry to bother you so late,Have a good sleep, my bro

[2022-09-08 08:59] Kluzzio commented on #158
Ugh, DH makes me sad. The reason why this is happening, as far as I assume (I'm 99% sure) is that because Enchant Giver technically does not make them an enchantment but instead overrides the getEnchantLevel method, it will not register incompatibilities and more importantly, will let you enchant on the enchant table. The reason this still works on the anvil afaik is because it assumes that you mi

[2022-09-08 19:29] LILPRINCES commented on #158
It seems that we don't have a perfect solution, but OK, thank you for your work

[2022-09-09 01:43] Choo-Choo-Oreo opened #159 "Adding a preexisting enchantment on a weapon"
**Describe the bug**
Adding a preexisting enchantment on a weapon (Might be the modpack I'm running)

**To Reproduce Error**
Steps to reproduce the behavior:
Go to an anvil and combine already existing enchantments on the weapon (I tested it on "Swift Striker, Dark Katana, and the Resolute Tempest Knife"
![image](https://user-images.githubusercontent.com/34584301/189253403-5d04de4b-91e4-4339-9eae-

[2022-09-09 01:50] Choo-Choo-Oreo opened #160 "Combining Ambush III and Echo III"
Combining Ambush III and Echo III enchantments like what the Swift Skriker has.

**To Reproduce Error**
Steps to reproduce the behavior:
Open the anvil and combine both the books that are of the same enchantments of what the Swift Skriker has and they fill to combine unlike what the Swift Skriker has.
**Expected behavior**
A combination of the enchantments books like on the Swift Skriker.
**Screen

[2022-09-09 02:10] chronosacaria commented on #160
Ah, that's a fair confusion. That combination is unique to the Swift Striker

[2022-09-09 02:37] Kluzzio commented on #159
What is your issue here? I can combine dark katana and smiting 3 just fine.
![image](https://user-images.githubusercontent.com/96443090/189260398-8d90b02b-6a1a-4a46-806a-c55a2ad5b6ad.png)

If you are crashing when you are trying to put the book in? If so, that's because you need to delete your configs and let them regenerate. Please refer to the announcements made on the discord and the crashlog.

[2022-09-09 02:42] Kluzzio commented on #160
Because this is intentional design as the swift striker is the one exception to this incompatibility, this issue will be closed.

[2022-09-09 02:42] #160 closed, assigned to chronosacaria, Kluzzio

[2022-09-09 02:50] Choo-Choo-Oreo commented on #159
Yes, it fixes it, thank you for the information.

[2022-09-09 02:50] #159 closed, assigned to chronosacaria, Kluzzio

[2022-09-09 22:41] 444wa opened #161 "a couple of enchantment bugs"
hey, so for some reason the Pain cycle enchantment is acting a little strange (i think). i know the enchantment is supposed to hurt the player as well, but only when they attack, right? for some reason whenever you get the pain cycle effect. it hurts the player nonetheless- like a slow poisoning.
also, i cannot seem to remove default enchantments off of any of the weapons. i really hope this isn't

[2022-09-09 23:00] chronosacaria commented on #161
@444wa
Re: Pain Cycle -- That is how it is supposed to function. If you build Pain Cycle and change your weapon so as not to use them, they will hurt you to the point of killing you. This is intentional design.

Re: Removing innate enchantments -- You are not supposed to be able to remove them. However, you can use the config settings to disable them in the first place. This is also intended funct

[2022-09-09 23:00] #161 closed, assigned to chronosacaria, Kluzzio

[2022-09-09 23:39] 444wa commented on #161
thank you for the feedback. quick question, how would i go about disabling the default enchantments in the config? i am looking through them but i am not sure which to turn to false and such

[2022-09-10 15:19] chronosacaria commented on #161
@444wa Sure thing! If you want to disable the innate enchantments, you need to look in the `mcdw_enchantment_settings_config.json5` file and there is a value called `ENABLE_INNATE_ENCHANTMENTS`. If you set that to `false`, it will remove the innate enchantments from items

[2022-09-11 08:40] benio1394 opened #162 "Crash on game start"
**Describe the bug**
https://pastebin.com/P8ZJk65e

 - OS: Windows
 - Launcher Deafult
 - Mod Version 5.0.4-1.18
 - Are you using a Modpack? Yes, my custom modpack

[2022-09-11 08:44] Kluzzio commented on #162
Please update your clumps version. Then, let us know if that fixed it.

[2022-09-11 09:15] benio1394 commented on #162
I have the newest version for 1.18.2. But removing clumps helps

[2022-09-11 09:38] Kluzzio commented on #162
For now, you can leave clumps out and you won't crash but I will try to find a solution as to why this is happening to you

[2022-09-11 09:38] benio1394 commented on #162
Thank you

[2022-09-11 13:12] chronosacaria commented on #162
@benio1394 Are you using this version of Clumps: https://www.curseforge.com/minecraft/mc-mods/clumps/files/3913405

[2022-09-11 13:14] chronosacaria commented on #162
Also, please, next time include the mod list at the end of your crashlog. I know that there can be a lot of information about your computer in there, but you can always delete that information. Having the list of mods, however, can be invaluable in situations like this

[2022-09-13 11:12] Developer2704 commented on #156
No, I don't.

On Mon, Sep 5, 2022 at 9:31 AM chronosacaria ***@***.***>
wrote:

[2022-09-15 18:23] Gbergz opened #164 "Crash when putting looting book onto a Touched Blade through Anvil."
**Describe the bug**
Game crashes when putting looting book onto a Touched Blade through Anvil.

**To Reproduce**
Steps to reproduce the behavior:
1. Get a Touched Blade
2. Get Looting Book
3. Put them together in an anvil. (I did shift click in the items into anvil, not sure if thats a requirement.)
4. Crash to desktop.

**Expected behavior**
Not to crash when putting them together in an anvil.

[2022-09-15 18:24] chronosacaria commented on #164
@Gbergz You just need to delete your configs for MCDW (in `mcdw`) and Enchant Giver (in `enchant_giver`) and it will solve your issue :)

[2022-09-15 18:24] #164 closed, assigned to chronosacaria, Kluzzio

[2022-09-15 18:24] Gbergz commented on #164
Gotcha, thanks.

[2022-09-15 18:24] chronosacaria commented on #164
No problem! Make sure, that if you're on a server, that the configs are deleted there as well

[2022-09-15 19:47] EztraDev opened #165 "Weapons in Anvil crashes game 1.19 [mcdw-5.0.4]"
**Describe the bug**
(Watch video demo if i am unclear)
Weapons making game crash in Anvils with error:
*
The game crashed whilst container click
Error: java.lang.NullPointerException: Cannot read the array length because "array" is null
*
Video demonstration: https://streamable.com/yrfak2
Whats in the video:
Showcase that weapons work in enchantment table.
Enchantment Giver works.
Other modded we

[2022-09-15 19:48] chronosacaria commented on #165
@EztraDev See https://github.com/chronosacaria/MCDungeonsWeapons/issues/164 for solution

Delete your configs on server and client

[2022-09-15 19:48] #165 closed, assigned to chronosacaria, Kluzzio

[2022-09-15 20:09] itsdinkd opened #166 "[1.18.2 / AQM2] Player crashed when using enchantment on MCDW wpn"
**To Reproduce**
Add enchantment to MCDW weapon in anvil

**Expected behavior**
to enchant

**Please complete the following information:**
 - OS: Filling out for player who reported to us
 - Launcher: Filling out for player who reported to me.
 - Mod Version; 5.0.4
 - Are you using a Modpack? Another Quality Modpack 2 v1.6

[code]

[2022-09-15 20:12] chronosacaria commented on #166
@itsdinkd Hey mate, just delete the configs in the client and server from the `mcdw` directory and the `enchant_giver` directory on the client and server and it will fix it. That's why the update notes for 5.0.0 say to delete your configs, though if you're using one of the later versions, you might not see it. However, general practice: if the first number changes in a mod's versioning, delete you

[2022-09-15 20:12] #166 closed, assigned to chronosacaria, Kluzzio

[2022-09-16 00:01] itsdinkd commented on #166
Thats no Bueno. I've customized a lot for the modpack. I saw deleting
enchant giver, which I did. But I did not clear the mod configs. It's
troublesome to continously edit them over and over again.

On Thu, Sep 15, 2022, 1:12 PM chronosacaria ***@***.***>
wrote:

[2022-09-16 04:24] #158 closed, assigned to chronosacaria, Kluzzio

[2022-09-17 16:01] ArtCrafter2999 opened #167 "Crushing enchantments"
**Describe the bug**
When I have tried to enchant any weapon from this mod to any enchantment in anvil, the game is crush

**To Reproduce**
Steps to reproduce the behavior:
1. Go to an anvil
2. Place weapon in first slot
3. Place any enchantment book in second slot

**Expected behavior**
A clear and concise description of what you expected to happen.
I expect to get the entchanted sword

**Screens

[2022-09-17 16:12] chronosacaria commented on #167
@ArtCrafter2999
Отже, що вам потрібно зробити, це видалити деякі файли та дати їм відновитися. Вам потрібно буде видалити наступні файли в таких папках:
все в папці `mcdw`
все в папці `enchant_giver`
Це вирішить проблему, з якою ви зіткнулися.

[2022-09-17 16:46] #167 closed, assigned to chronosacaria, Kluzzio

[2022-09-17 23:24] Developer2704 commented on #156
Maybe you could try geckolib

[2022-09-17 23:27] Developer2704 opened #168 "Backslot error"
Weapons are sized incorrectly when equipped in backslot. The weapons are too small or large. This also may occur with mcd artifacts.

[2022-09-17 23:28] chronosacaria commented on #168
@Developer2704 Please fill out the whole form or this issue will be closed

[2022-09-17 23:31] Developer2704 commented on #134
Try geckolib. It can animate items.

[2022-09-18 20:18] chronosacaria commented on #168
As this issue was not refilled out in a proper manner, it shall be closed

[2022-09-18 20:18] #168 closed, assigned to chronosacaria, Kluzzio

[2022-09-18 20:19] chronosacaria commented on #162
As it has been a week since the initial message and the application of the `Awaiting Response` tag, since there has been no response, this issue shall be closed

[2022-09-18 20:19] #162 closed, assigned to chronosacaria, Kluzzio

[2022-09-19 18:29] amatorius36 opened #169 "[Bug Report]: enchant weapon with mending, crash game."
### Describe the bug; What happened?

Enchanting any weapon with mending crashes the game.

sorry, translation made in google 😭

[1.18.2  fabric 0.14.9]

### Expected Behavior

.

### Mod Version

mcdw-5.0.4-1.18.jar

### Minecraft Launcher

Other

### Operating System

Windows

### Modpack

_No response_

### Additional context

_No response_

[2022-09-19 18:30] chronosacaria commented on #169
Hi @amatorius36 All you need to do is delete your configs in your `mcdw` and `enchant_giver` folders on the client and server and let them regenerate. That will resolve your issue :)

[2022-09-19 18:30] #169 closed, assigned to chronosacaria, Kluzzio

[2022-09-19 18:30] chronosacaria commented on #169
Also, @amatorius36 Please use your native language, it is okay. I probably know it or know enough of it to help you :)

[2022-09-19 18:31] amatorius36 commented on #169
Muchas gracias por la rápida respuesta.
lo pruebo y comento si se soluciona

[2022-09-19 18:52] amatorius36 commented on #169
Efectivamente, se ha solucionado!
Muchas gracias

[2022-09-21 05:31] XimenesF opened #170 "crash in Anvil"
### Describe the bug; What happened?

when you try to enchant any dungeons weapon with a enchanted book, the game crash and close.

### Expected Behavior

i really don't know nothing about codes and programation

### Mod Version

5.0.4

### Minecraft Launcher

Other

### Operating System

Windows

### Modpack

_No response_

### Additional context

_No response_

[2022-09-21 05:55] Kluzzio commented on #170
Please delete your configs in the mcdw config folder to allow them to regenerate. This will solve the crash

[2022-09-21 05:56] Kluzzio commented on #170
All you need to do is delete your configs in your mcdw and enchant_giver folders on the client and server and let them regenerate.

[2022-09-21 05:56] #170 closed, assigned to chronosacaria, Kluzzio

[2022-09-25 21:30] Dxlls opened #171 "[Bug Report]: Bow of Lost Souls not Firing Multishot on a Server"
### Describe the bug; What happened?

Whenever i shoot the bow of lost souls on my 1.19.2 modded server it does not fire 3 arrow instead firing one

### Expected Behavior

The bow should fire 3 arrows

### Mod Version

5.0.4-1.19

### Minecraft Launcher

CurseForge

### Operating System

Windows

### Modpack

Terracraft A Lightweight Overhual

### Additional context

_No response_

[2022-09-25 21:41] chronosacaria commented on #171
@Dxlls it will fire two arrows but only when there is an enemy nearby. Are you testing with enemies nearby?

[2022-09-25 22:13] DawZav opened #172 "[Bug Report]: Anvil can't be used with Whispering Spear"
### Describe the bug; What happened?

Putting a Whispering Spear in an anvil then placing another item (another whispering spear, enchanted books, etc.) freezes the screen, then exits the world and crashes the game. Anvil works fine with some other items, but not the Whispering Spear.

### Expected Behavior

The Whispering Spear and the second item are placed in an anvil, and the game _doesn't_ cr

[2022-09-25 22:15] chronosacaria commented on #172
@DawZav You need to regenerate the configs in your `enchant_giver` and `mcdw` folders. This is noted on the changelog for the 5.0.0 version, but any time you update from a version of a mod and the first number of that mod's versioning changes, you, almost certainly, if there are configs present, need to let them regenerate. This needs to be done on the server and client, if you are on a server

[2022-09-25 22:15] #172 closed, assigned to chronosacaria, Kluzzio

[2022-09-25 22:16] Dxlls commented on #171
Apologies, i just tested against an enemy and it worked fine. seems a bit odd that it only works if near an enemy but thanks you for the response and correction. have a good day/evening and thanks for the amazing mod

[2022-09-25 22:26] #171 closed, assigned to chronosacaria, Kluzzio

[2022-09-25 22:27] chronosacaria commented on #171
No worries at all! The reason it does that is because the bow will only fire at a target rather than randomly. Thank you for your kind words :)

[2022-09-25 23:36] DawZav commented on #172
Hey, thanks the for the response! I do need a bit of help though. What exactly do you mean "regenerate" them?

[2022-09-26 17:40] Developer2704 commented on #156
Geckolib can animated items so it could work.

[2022-10-15 18:14] DemonMartin opened #173 "[Bug Report]:"
### Describe the bug; What happened?

When trying to enchant the "Frost Slayer" ( enchants: http://share.martin.tools/⁠‌‍‍‌‍‍⁠​​‌​ ) with "Lifesteal" (from [@Combat Enchantment](https://www.curseforge.com/minecraft/mc-mods/combat-enchantments), newest version) it causes the Game to crash. (Error is in additional context)

### Expected Behavior

Just enchant the item with the given enchantment.

##

[2022-10-15 19:36] chronosacaria commented on #173
@DemonMartin Delete your `mcdw` and `enchant_giver` configs. This happens when you update from a pre-5.0.0 version to a newer version

[2022-10-15 19:36] #173 closed, assigned to chronosacaria, Kluzzio

[2022-10-15 19:50] DemonMartin commented on #173
Shouldn't you maybe add some kind of fix for that so it doesn't crash the game?

[2022-10-15 19:50] DemonMartin commented on #173
maybe just output and error or something like that

[2022-10-19 21:50] ClubPZ opened #174 "Enchanting on weapons crashes user"
### Describe the bug; What happened?

When enchanting any Mc Dungeons weapon it crashes the game. This only happens with Mc Dungeon weapons. The custom enchantments work on normal weapons but not the Mc Dungeons ones. I tried it on a server as well and only I crashed. I have a weapon with enchants that I made in the past so I know it used to work.

https://drive.google.com/file/d/1QBsa6-mXcaM35of-

[2022-10-19 22:01] chronosacaria commented on #174
Delete your configs in the `mcdw` and `enchant_giver` folders

[2022-10-19 22:01] #174 closed, assigned to chronosacaria, Kluzzio

[2022-10-29 05:22] Metalteuffel opened #175 "Soul Devourer enchant doesnt work"
I've tried all 3 levels of the enchantment, it doesn't add or multiply xp from killing mobs, still only get 3 or 7 exp per kill no matter what mob is killed using the enchantment.

[2022-10-29 05:25] chronosacaria commented on #175
@Metalteuffel You're either using an outdated version of the mod or something is wrong on your end. Please fill out the issue report properly, with the appropriate information as found [here](https://github.com/chronosacaria/MCDungeonsWeapons/issues/new/choose). Otherwise we cannot help you.

As the issue report was filled out incorrectly and lacks the necessary information to pursue a solution, i

[2022-10-29 05:25] #175 closed, assigned to nobody

[2022-11-14 19:58] Sethatee opened #176 "[Feature Request]: Void Strike not saying "Chance To" in the in game description."
### Is your feature request related to a problem? Please describe.

I saw on the wiki that Void Strike has only a 15% chance to multiply the damage of the attack but the in-game description says, "Deal multiplicative damage based on level of enchantment." That caused me, and I'd assume others as well, to believe that it multiplied the damage of every attack.

### Describe the solution you'd like

[2022-11-18 10:24] Veracis-Eclise opened #177 "[Bug Report]:"
### Describe the bug; What happened?

Conflicting enchantments such as Enigma Resonator and Void Strike can be applied together via the vanilla enchanting table. Enchanting a sponge striker in the enchantment table has a chance of applying void strike, among other enchants like sharpness and smite, onto the weapon.

![image](https://user-images.githubusercontent.com/118526661/202679442-4611fe18-fb

[2022-11-18 10:32] Kluzzio commented on #177
This has already been fixed in dev and will be in the next release. Thank you for your patience and willingness to report this issue!

[2022-11-18 10:32] #177 closed, assigned to chronosacaria, Kluzzio

[2022-11-25 12:55] BluStryx8 commented on #153
Hello, back again after a few months (since I took a break from messing with mods to focus on life stuff)
1.19.2 version of the mod has a lot of rendering issues, so I've taken the time to group crossbow rendering errors.

- Still resizes in hotbar while charging: Ancient Bow, Twisting Vine Bow, Weeping Vine Bow, Shortbow
- Renders at the top of the screen while loading: Auto Crossbow, Azure Seeke

[2022-11-25 13:15] BluStryx8 opened #178 "[Bug Report]: Range stat appears to not work for bows."
### Describe the bug; What happened?

While using bows, it seems that the range statistic does not work at all: all bows, once fully charged, will share the exact same range if they are part of the same bow class (regular bow, longbow, or shortbow)
For example, if you fire multiple arrows from an Ancient Bow with a range of 18, and a Shivering Bow with a range of 10, the arrows will all still land

[2022-11-25 13:19] chronosacaria commented on #178
@BluStryx8 This occurs when you're updating from a pre-5.0.0 version of MCDW to a post-5.0.0 version of MCDW. To resolve this, delete the contents of both the `mcdw` and `enchant_giver` folders and let them regenerate. Also, make sure that you update Minecraft via the Vanilla Launcher as there was a bug in a previous Minecraft release that broke config reading. If this doesn't solve your issue, th

[2022-11-25 13:20] #178 closed, assigned to chronosacaria, Kluzzio

[2022-11-25 13:29] BluStryx8 commented on #178
Problem still persists when performed with a fresh CurseForge profile with just the mod installed, and no others (i.e. not updating from an older version of MCDW)

[2022-11-25 14:42] BluStryx8 opened #179 "[Bug Report]: Bows reading off one stat"
### Describe the bug; What happened?

Since the last one got closed almost immediately, I'm making another bug report because this definitely is *not* a version change issue: it's an issue with how range is being read. It seems to be defaulting to a specific bow's range stats:
- All regular bow range stats are determined by the `BOW_WINTERS_TOUCH` range stats
- All shortbows range stats are determ

[2022-11-25 14:50] chronosacaria commented on #179
@BluStryx8 Ah, okay. I see. Thanks for clarifying this issue

[2022-11-25 16:32] Kluzzio commented on #179
We found the issue, was dumb (range was static lol). Is fixed in dev. Thanks so much for finding this!

[2022-11-25 16:57] #179 closed, assigned to chronosacaria, Kluzzio

[2022-11-28 17:24] zukatotokime opened #180 "[Bug Report]:All MC Dungeon Mods not loading on MC 1.19.2 Forge 43.1.57"
### Describe the bug; What happened?

Mod has been added to mods folder, game starting normally but mod does not show up in mod list. Tried re-installing but no effect. All MC Dungeons Mods behave this way.

### Expected Behavior

It SHOULD just start and load into it

### Mod Version

5.0.4

### Minecraft Launcher

Other

### Operating System

Windows

### Modpack

_No response_

### Additional c

[2022-11-28 17:27] Kluzzio commented on #180
Please ensure that you are using the fabric loader and do not have a cracked client. Both of these are commonly not adhered to when this complaint is present. If you hop in the discord or can give more detail, that would be greatly appreciated.

[2022-11-29 01:06] Kluzzio commented on #180
Just pointed out to me, that this is on a forge loader. ALL MCDX MODS are fabric exclusive. Consider using Dungeons Gear by infamous instead

[2022-11-29 01:06] #180 closed, assigned to chronosacaria, Kluzzio